@use '../bem-class-selectors' as *;

.container {

	#{class-ends-with('__container')} {
		margin-inline: auto;

		&[data-size] {
			margin-inline: unset;
		}

		#{class-ends-with('__container')} {
			padding-inline: 0;
		}
	}
}
