@use '../bem-mixin' as *;
@use '../bem-class-selectors' as *;

@include bem-block('post-nav', ('link', 'link__label', 'link__icon')) {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: var(--spacing-md);

	@container (min-width: 800px) {
		grid-template-columns: repeat(10, 1fr);
	}

	&:not(:first-child) {
		margin-block-start: var(--spacing-md);
	}

	&__link {
		text-decoration: none;
		color: var(--theme-color);
		transition: all 0.3s ease;

		&:hover, &:focus, &:active {
			color: currentColor;

			#{class-ends-with('__label')} {
				text-decoration-color: currentColor;
				color: currentColor;
			}
		}

		@container (min-width: 800px) {
			grid-column: span 3;
		}

		&__label {
			text-decoration: underline;
			text-decoration-color: transparent;
			transition: all 0.2s ease;

			> span {
				display: block;
				font-size: var(--font-size-xs);
				font-weight: var(--font-weight-semibold);
				text-transform: uppercase;
			}
		}

		&__icon {
			transition: all 0.2s ease;
		}

		&[data-action="previous"] {
			&:hover, &:focus, &:active {
				#{class-ends-with('__icon')} {
					transform: translateX(-0.5rem);
				}
			}
		}

		&[data-action="next"] {
			text-align: end;
			grid-column: -1; // Should always be in the last column

			&:hover, &:focus, &:active {
				#{class-ends-with('__icon')} {
					transform: translateX(0.5rem);
				}
			}
		}
	}
}

