@use '../mixins' as *;
@use '../bem-mixin' as *;

@include bem-block('pagination', ('button-group')) {
	@include section-margin();

	&:last-child {
		margin-block-end: 0;
	}

	&__button-group {
		.button {
			padding: var(--spacing-xs) var(--spacing-md);
			line-height: 1;

			&[aria-current] {
				pointer-events: none;
			}

			&[aria-label=""],
			&:not([aria-label]) {
				pointer-events: none;
				border: 0;
			}

			&[aria-label="Previous page"],
			&[aria-label="Next page"] {
				.button__label {
					display: none;
				}
			}
		}
	}
}
