@use '../variables' as *;

@include bem-block('link-group', ('link')) {
	width: 100%;

	&__link {
		display: flex;
		flex-wrap: nowrap;
		gap: var(--spacing-sm);
		margin-block-end: var(--spacing-sm);
		text-decoration: none;
		padding: var(--spacing-sm);
		transition: background 0.2s linear;
		font-size: 1rem;
		// justify-content: inherit; // TODO: Fix this when centered with icon + description

		@each $name, $color in $colors {
			[data-color-theme=#{$name}] &,
			&[data-color-theme=#{$name}] {
				background: color-mix(in srgb, var(--color-#{$name}) 10%, white);

				&:hover, &:focus, &:active {
					background: color-mix(in srgb, var(--color-#{$name}) 20%, white);
					color: var(--color-#{$name});
				}
			}
		}

		&__icon {
			font-size: 2rem;

			@each $name, $color in $colors {
				[data-color-theme=#{$name}] & {
					color: var(--color-#{$name});
				}
			}
		}

		&__content {

			&__label {
				font-weight: var(--font-weight-bold);
				display: block;
			color: var(--theme-color);

			[data-group-layout="inline"] & {
				font-weight: var(--font-weight-normal);
				}
			}

			&__description {
				display: block;
			}
		}
	}
}
