@use '../variables' as *;
@use '../bem-mixin' as *;
@use '../functions' as *;
@use '../mixins' as *;

@include bem-block('links', ('link-group')) {

	&__link-group {
		width: 100%;

		&[data-group-layout="inline"] {
			display: flex;
			flex-direction: row;
			gap: var(--spacing-md);
		}

		&__link {
			margin-block-end: var(--spacing-sm);
			text-decoration: none;
			padding: var(--spacing-sm);
			transition: background 0.2s linear;
			font-size: 1rem;
			background: lighten-theme-color(90%);
			// Default layout - icon on left, text on right
			display: grid;
			grid-template-columns: auto 1fr;
			grid-template-rows: auto auto;
			grid-column-gap: var(--spacing-sm);


			&:hover, &:focus, &:active {
				background: lighten-theme-color(80%);
				color: var(--theme-color);
			}

			[data-group-layout="grid"] & {
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			[data-group-layout="inline"] & {
				display: inline-flex;
				flex-direction: row-reverse;
				gap: var(--spacing-xxs);
				padding: 0;
				background: transparent;
				color: var(--theme-color);
				font-size: var(--font-size-sm);
				margin-block: 0;
				@include link-underline-on-hover();

				&:hover, &:focus, &:active {
					color: darken-theme-color(10%);
					text-decoration-color: currentColor;
				}
			}

			&__icon {
				font-size: 1.25rem;
				color: var(--theme-color);
				grid-row: span 2;

				[data-group-layout="inline"] & {
					font-size: 1em;
				}
			}

			&__label,
			&__description {
				display: block;
			}

			&__label {
				font-weight: var(--font-weight-bold);
				display: block;
				color: var(--theme-color);

				[data-group-layout="inline"] & {
					font-weight: var(--font-weight-normal);
				}
			}

			&__description {
				display: block;
				font-size: var(--font-size-sm);
			}
		}
	}
}
