@use '../functions' as *;
@use '../variables' as *;
@use '../bem-mixin' as *;

@include bem-block('date', ('day', 'day-number', 'month', 'year')) {
	min-width: 3rem;
	max-width: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--spacing-xxs);
	flex-direction: column;
	background: var(--theme-color);
	color: var(--theme-color-inverse);

	&__day,
	&__day-number,
	&__month,
	&__year {
		display: block;
		text-align: center;
		line-height: 1;
		font-weight: var(--font-weight-light);
	}

	&__day {
		font-size: var(--font-size-sm);
	}

	&__day-number {
		font-weight: var(--font-weight-bold);
		font-size: calc(1rem * calc(var(--typescale) * var(--typescale)));
	}
}
