@use '../mixins' as *;
@use '../variables' as *;

$aspectRatioBreakpoint: 'narrow'; // Breakpoint at which to start using the aspect ratio settings instead of having the image take up more height

.banner-v2 {
	padding-block-start: 0;
	position: relative;
	container-type: inline-size;
	max-width: 1920px;
	margin-inline: auto;

	&__image {
		display: flex;
		width: 100%;
		overflow: hidden;
		// Default styles for smaller containers (ignore aspect ratio settings)
		height: 50dvh;

		// Containers large enough to use the aspect ratio settings
		@include container-width-up($aspectRatioBreakpoint) {
			height: fit-content;
			justify-content: center; // Centre if banner becomes narrower than the viewport in order to fit the aspect ratio height
		}

		&__frame {
			overflow: hidden;
			container-type: size;
			//min-width: 100%; // for images smaller than the container

			// Containers large enough to use the aspect ratio settings
			@include container-width-up($aspectRatioBreakpoint) {
				width: 100%;
				height: auto;
			}

			&__inner {
				min-width: 100%; // for images smaller than the container
				// Default styles for smaller containers (ignore aspect ratio settings)
				height: 100cqh;
				object-fit: cover;

				// Containers large enough to use the aspect ratio settings
				@include container-width-up($aspectRatioBreakpoint) {
					overflow: visible;
					max-width: none !important;
					width: fit-content;
					height: fit-content;
					transition: all 0.3s ease-in-out;
					position: relative;
				}

				img {
					// Default styles for smaller containers (ignore aspect ratio settings)
					height: 100%;
					width: 100%;
					object-fit: cover;
					object-position: var(--focal-point-x) var(--focal-point-y);

					// Containers large enough to use the aspect ratio settings
					@include container-width-up($aspectRatioBreakpoint) {
						object-fit: none;
						object-position: unset;
						width: calc(100% + abs(var(--offset-x, 0)));
						min-height: 100cqh;
						height: calc(100% + abs(var(--offset-y, 0)));
						position: relative;
						left: var(--offset-x);
						top: var(--offset-y);
					}
				}

			}
		}
	}

	&__content {
		width: 100%;
		margin-block-start: -10dvh;

		@include container-width-up($aspectRatioBreakpoint) {
			margin-block-start: 0;
			height: 100%;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 100;
		}

		&__container {
			@include container-width-up($aspectRatioBreakpoint) {
				height: 100%;
			}
		}

		&__inner {
			background: var(--theme-color);
			background: linear-gradient(
					5deg,
					color-mix(in srgb, var(--theme-color) 80%, black) 0%,
					color-mix(in srgb, var(--theme-color) 90%, black) 50%,
					var(--theme-color) 80%
			);
			color: var(--theme-color-inverse);
			padding: var(--spacing-lg);

			h1 {
				color: var(--theme-color-inverse);

				> span:first-child {
					display: block;
					font-size: 0.5em;
				}
			}

			.button[data-style="outline"] {
				background: var(--theme-color-inverse);
			}

			@media (max-width: #{map-get($widths, 'narrower') - 1px}) {
				max-width: 75cqw !important;
				margin-inline: auto;
			}
		}
	}
}
