.button {
	display: inline-block;
	padding: var(--spacing-sm) var(--spacing-lg);
	border: none;
	appearance: none;
	cursor: pointer;
	transition: all 0.3s;
	text-decoration: none;
	border-radius: var(--button-border-radius);
}
.button > span {
	text-decoration: underline;
	text-decoration-color: transparent;
	transition: text-decoration-color 0.3s, color 0.3s;
}
.button:hover > span, .button:focus > span, .button:active > span {
	text-decoration-color: currentColor;
}
.button:has(i, svg) {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--spacing-xs);
}
.button--primary:not([class*="--outline"]) {
	background-color: var(--color-primary);
	border: 1px solid var(--color-primary);
	color: var(--readable-color-primary);
}
.button--primary:not([class*="--outline"]):hover, .button--primary:not([class*="--outline"]):focus, .button--primary:not([class*="--outline"]):active {
	background-color: color-mix(in srgb, var(--color-primary) 80%, black);
	border-color: color-mix(in srgb, var(--color-primary) 80%, black);
}
.button--primary--outline {
	border: 1px solid var(--color-primary);
	background-color: transparent;
	color: var(--color-primary);
}
.button--primary--outline:hover, .button--primary--outline:focus, .button--primary--outline:active {
	box-shadow: inset 0 0 0 1px var(--color-primary);
}
.button--secondary:not([class*="--outline"]) {
	background-color: var(--color-secondary);
	border: 1px solid var(--color-secondary);
	color: var(--readable-color-secondary);
}
.button--secondary:not([class*="--outline"]):hover, .button--secondary:not([class*="--outline"]):focus, .button--secondary:not([class*="--outline"]):active {
	background-color: color-mix(in srgb, var(--color-secondary) 80%, black);
	border-color: color-mix(in srgb, var(--color-secondary) 80%, black);
}
.button--secondary--outline {
	border: 1px solid var(--color-secondary);
	background-color: transparent;
	color: var(--color-secondary);
}
.button--secondary--outline:hover, .button--secondary--outline:focus, .button--secondary--outline:active {
	box-shadow: inset 0 0 0 1px var(--color-secondary);
}
.button--accent:not([class*="--outline"]) {
	background-color: var(--color-accent);
	border: 1px solid var(--color-accent);
	color: var(--readable-color-accent);
}
.button--accent:not([class*="--outline"]):hover, .button--accent:not([class*="--outline"]):focus, .button--accent:not([class*="--outline"]):active {
	background-color: color-mix(in srgb, var(--color-accent) 80%, black);
	border-color: color-mix(in srgb, var(--color-accent) 80%, black);
}
.button--accent--outline {
	border: 1px solid var(--color-accent);
	background-color: transparent;
	color: var(--color-accent);
}
.button--accent--outline:hover, .button--accent--outline:focus, .button--accent--outline:active {
	box-shadow: inset 0 0 0 1px var(--color-accent);
}
.button--warning:not([class*="--outline"]) {
	background-color: var(--color-warning);
	border: 1px solid var(--color-warning);
	color: var(--readable-color-warning);
}
.button--warning:not([class*="--outline"]):hover, .button--warning:not([class*="--outline"]):focus, .button--warning:not([class*="--outline"]):active {
	background-color: color-mix(in srgb, var(--color-warning) 80%, black);
	border-color: color-mix(in srgb, var(--color-warning) 80%, black);
}
.button--warning--outline {
	border: 1px solid var(--color-warning);
	background-color: transparent;
	color: var(--color-warning);
}
.button--warning--outline:hover, .button--warning--outline:focus, .button--warning--outline:active {
	box-shadow: inset 0 0 0 1px var(--color-warning);
}
.button--error:not([class*="--outline"]) {
	background-color: var(--color-error);
	border: 1px solid var(--color-error);
	color: var(--readable-color-error);
}
.button--error:not([class*="--outline"]):hover, .button--error:not([class*="--outline"]):focus, .button--error:not([class*="--outline"]):active {
	background-color: color-mix(in srgb, var(--color-error) 80%, black);
	border-color: color-mix(in srgb, var(--color-error) 80%, black);
}
.button--error--outline {
	border: 1px solid var(--color-error);
	background-color: transparent;
	color: var(--color-error);
}
.button--error--outline:hover, .button--error--outline:focus, .button--error--outline:active {
	box-shadow: inset 0 0 0 1px var(--color-error);
}
.button--light:not([class*="--outline"]) {
	background-color: var(--color-light);
	border: 1px solid var(--color-light);
	color: var(--readable-color-light);
}
.button--light:not([class*="--outline"]):hover, .button--light:not([class*="--outline"]):focus, .button--light:not([class*="--outline"]):active {
	background-color: color-mix(in srgb, var(--color-light) 80%, black);
	border-color: color-mix(in srgb, var(--color-light) 80%, black);
}
.button--light--outline {
	border: 1px solid var(--color-light);
	background-color: transparent;
	color: var(--color-light);
}
.button--light--outline:hover, .button--light--outline:focus, .button--light--outline:active {
	box-shadow: inset 0 0 0 1px var(--color-light);
}
.button--dark:not([class*="--outline"]) {
	background-color: var(--color-dark);
	border: 1px solid var(--color-dark);
	color: var(--readable-color-dark);
}
.button--dark:not([class*="--outline"]):hover, .button--dark:not([class*="--outline"]):focus, .button--dark:not([class*="--outline"]):active {
	background-color: color-mix(in srgb, var(--color-dark) 80%, black);
	border-color: color-mix(in srgb, var(--color-dark) 80%, black);
}
.button--dark--outline {
	border: 1px solid var(--color-dark);
	background-color: transparent;
	color: var(--color-dark);
}
.button--dark--outline:hover, .button--dark--outline:focus, .button--dark--outline:active {
	box-shadow: inset 0 0 0 1px var(--color-dark);
}
.button--white:not([class*="--outline"]) {
	background-color: var(--color-white);
	border: 1px solid var(--color-white);
	color: var(--readable-color-white);
}
.button--white:not([class*="--outline"]):hover, .button--white:not([class*="--outline"]):focus, .button--white:not([class*="--outline"]):active {
	background-color: color-mix(in srgb, var(--color-white) 80%, black);
	border-color: color-mix(in srgb, var(--color-white) 80%, black);
}
.button--white--outline {
	border: 1px solid var(--color-white);
	background-color: transparent;
	color: var(--color-white);
}
.button--white--outline:hover, .button--white--outline:focus, .button--white--outline:active {
	box-shadow: inset 0 0 0 1px var(--color-white);
}
/*# sourceMappingURL=button.css.map */
