.columns {
  display: grid;
  grid-gap: var(--spacing-md);
}
@container (min-width: 960px) {
  .columns {
    grid-gap: var(--spacing-lg);
  }
}
.columns[data-count="2"][data-allow-layout-stacking=true], .columns[data-count="4"][data-allow-layout-stacking=true], .columns[data-count="6"][data-allow-layout-stacking=true] {
  grid-template-columns: repeat(1, 1fr);
}
@container (max-width: 600px) {
  .columns[data-count="2"][data-allow-layout-stacking=true], .columns[data-count="4"][data-allow-layout-stacking=true], .columns[data-count="6"][data-allow-layout-stacking=true] {
    flex-wrap: wrap;
  }
  .columns[data-count="2"][data-allow-layout-stacking=true] .column, .columns[data-count="4"][data-allow-layout-stacking=true] .column, .columns[data-count="6"][data-allow-layout-stacking=true] .column {
    grid-column: 1/-1;
    width: 100% !important;
    flex-basis: 100% !important;
    min-width: 100%;
  }
}
@container (min-width: 600px) {
  .columns[data-count="2"][data-allow-layout-stacking=true], .columns[data-count="4"][data-allow-layout-stacking=true], .columns[data-count="6"][data-allow-layout-stacking=true] {
    grid-template-columns: repeat(2, 1fr);
  }
}
@container (min-width: 960px) {
  .columns[data-count="4"][data-allow-layout-stacking=true] {
    grid-template-columns: repeat(4, 1fr);
  }
}
@container (min-width: 768px) {
  .columns[data-count="3"][data-allow-layout-stacking=true], .columns[data-count="6"][data-allow-layout-stacking=true] {
    grid-template-columns: repeat(3, 1fr);
  }
}
@container (min-width: 960px) {
  .columns[data-count="5"][data-allow-layout-stacking=true] {
    grid-template-columns: repeat(5, 1fr);
  }
}
@container (min-width: 960px) {
  .columns[data-count="6"][data-allow-layout-stacking=true] {
    grid-template-columns: repeat(5, 1fr);
  }
}
.columns:has(> .columns__column--has-own-width) {
  display: flex;
  gap: var(--spacing-md);
}
@container (min-width: 960px) {
  .columns:has(> .columns__column--has-own-width) {
    gap: var(--spacing-lg);
  }
}
.columns[data-background=primary]:has(> [data-background=secondary]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=primary]:has(> [data-background=accent]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=primary]:has(> [data-background=info]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=primary]:has(> [data-background=warning]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=primary]:has(> [data-background=success]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=primary]:has(> [data-background=error]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=primary]:has(> [data-background=light]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=primary]:has(> [data-background=dark]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=primary]:has(> [data-background=white]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=primary] + .columns[data-background=primary] {
  margin-block-start: calc(var(--spacing-md) * -2);
}
.columns[data-background=secondary]:has(> [data-background=primary]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=secondary]:has(> [data-background=accent]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=secondary]:has(> [data-background=info]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=secondary]:has(> [data-background=warning]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=secondary]:has(> [data-background=success]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=secondary]:has(> [data-background=error]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=secondary]:has(> [data-background=light]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=secondary]:has(> [data-background=dark]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=secondary]:has(> [data-background=white]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=secondary] + .columns[data-background=secondary] {
  margin-block-start: calc(var(--spacing-md) * -2);
}
.columns[data-background=accent]:has(> [data-background=primary]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=accent]:has(> [data-background=secondary]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=accent]:has(> [data-background=info]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=accent]:has(> [data-background=warning]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=accent]:has(> [data-background=success]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=accent]:has(> [data-background=error]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=accent]:has(> [data-background=light]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=accent]:has(> [data-background=dark]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=accent]:has(> [data-background=white]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=accent] + .columns[data-background=accent] {
  margin-block-start: calc(var(--spacing-md) * -2);
}
.columns[data-background=info]:has(> [data-background=primary]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=info]:has(> [data-background=secondary]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=info]:has(> [data-background=accent]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=info]:has(> [data-background=warning]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=info]:has(> [data-background=success]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=info]:has(> [data-background=error]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=info]:has(> [data-background=light]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=info]:has(> [data-background=dark]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=info]:has(> [data-background=white]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=info] + .columns[data-background=info] {
  margin-block-start: calc(var(--spacing-md) * -2);
}
.columns[data-background=warning]:has(> [data-background=primary]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=warning]:has(> [data-background=secondary]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=warning]:has(> [data-background=accent]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=warning]:has(> [data-background=info]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=warning]:has(> [data-background=success]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=warning]:has(> [data-background=error]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=warning]:has(> [data-background=light]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=warning]:has(> [data-background=dark]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=warning]:has(> [data-background=white]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=warning] + .columns[data-background=warning] {
  margin-block-start: calc(var(--spacing-md) * -2);
}
.columns[data-background=success]:has(> [data-background=primary]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=success]:has(> [data-background=secondary]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=success]:has(> [data-background=accent]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=success]:has(> [data-background=info]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=success]:has(> [data-background=warning]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=success]:has(> [data-background=error]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=success]:has(> [data-background=light]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=success]:has(> [data-background=dark]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=success]:has(> [data-background=white]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=success] + .columns[data-background=success] {
  margin-block-start: calc(var(--spacing-md) * -2);
}
.columns[data-background=error]:has(> [data-background=primary]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=error]:has(> [data-background=secondary]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=error]:has(> [data-background=accent]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=error]:has(> [data-background=info]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=error]:has(> [data-background=warning]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=error]:has(> [data-background=success]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=error]:has(> [data-background=light]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=error]:has(> [data-background=dark]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=error]:has(> [data-background=white]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=error] + .columns[data-background=error] {
  margin-block-start: calc(var(--spacing-md) * -2);
}
.columns[data-background=light]:has(> [data-background=primary]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=light]:has(> [data-background=secondary]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=light]:has(> [data-background=accent]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=light]:has(> [data-background=info]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=light]:has(> [data-background=warning]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=light]:has(> [data-background=success]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=light]:has(> [data-background=error]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=light]:has(> [data-background=dark]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=light]:has(> [data-background=white]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=light] + .columns[data-background=light] {
  margin-block-start: calc(var(--spacing-md) * -2);
}
.columns[data-background=dark]:has(> [data-background=primary]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=dark]:has(> [data-background=secondary]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=dark]:has(> [data-background=accent]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=dark]:has(> [data-background=info]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=dark]:has(> [data-background=warning]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=dark]:has(> [data-background=success]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=dark]:has(> [data-background=error]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=dark]:has(> [data-background=light]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=dark]:has(> [data-background=white]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=dark] + .columns[data-background=dark] {
  margin-block-start: calc(var(--spacing-md) * -2);
}
.columns[data-background=white]:has(> [data-background=primary]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=white]:has(> [data-background=secondary]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=white]:has(> [data-background=accent]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=white]:has(> [data-background=info]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=white]:has(> [data-background=warning]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=white]:has(> [data-background=success]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=white]:has(> [data-background=error]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=white]:has(> [data-background=light]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=white]:has(> [data-background=dark]) .columns__column {
  padding: var(--spacing-md);
}
.columns[data-background=white] + .columns[data-background=white] {
  margin-block-start: calc(var(--spacing-md) * -2);
}
.columns:not([data-background]):has(> [data-background]) .columns__column {
  padding: var(--spacing-md);
}

/*# sourceMappingURL=columns.css.map */
