@use '../mixins' as *;
@use '../variables' as *;
@use '../bem-mixin' as *;
@use '../bem-class-selectors' as *;

@mixin stack-columns($override: false) {
	display: grid;
	grid-gap: var(--spacing-md);
	grid-template-columns: 1fr;
	width: 100%;

	@if $override {
		grid-template-columns: 1fr !important;
	}
}

@mixin grid-template-columns($columns, $spacing) {
	grid-template-columns: repeat($columns, calc((100% - (var(--spacing-#{$spacing}) * (#{$columns} - 1))) / #{$columns}));

	&[data-halign] {
		grid-template-columns: repeat(auto-fit, minmax(0, calc((100% - (var(--spacing-#{$spacing}) * (#{$columns} - 1))) / #{$columns})));
	}
}

@mixin grid-columns($columns, $unstackBreakpoint) {
	@include container-width-up($unstackBreakpoint) {
		@include grid-template-columns($columns, 'lg');

		@each $actualCols in 2, 3, 4, 5, 6 {
			&[data-count="#{$actualCols}"] {
				@include maybe-expand-first($columns, $actualCols);
				@include maybe-expand-last($columns, $actualCols);
				@include maybe-expand-middle($columns, $actualCols);
			}
		}
	}

	&[data-allow-layout-stacking="false"] {
		@include grid-template-columns($columns, 'lg');
	}
}

@mixin maybe-expand-first($layoutCols, $contentColCount) {
	// Important: $layoutCols is breakpoint-dependent when this is used within grid-columns - it's not always the same as data-cols

	&[data-column-layout="expand-first"] {
		// Note: This targets *__column rather than > :first child because in the WordPress editor, ACF adds a necessary extra wrapper around the columns,
		// and I don't really want to have two selectors here (for the ideal case and for that case).
		// This could need to change if supporting columns-within-columns in the future.
		#{class-ends-with('__column')}:first-of-type {
			@if $contentColCount > $layoutCols {
				grid-column: span #{$layoutCols};
			}
			@else {
				grid-column: span #{$layoutCols - $contentColCount + 1};
			}
		}
	}
}

@mixin maybe-expand-last($layoutCols, $contentColCount) {
	// Important: $layoutCols is breakpoint-dependent when this is used within grid-columns - it's not always the same as data-cols

	&[data-column-layout="expand-last"] {

		// Note: This targets *__column rather than > :first child because in the WordPress editor, ACF adds a necessary extra wrapper around the columns,
		// and I don't really want to have two selectors here (for the ideal case and for that case).
		// This could need to change if supporting columns-within-columns in the future.
		#{class-ends-with('__column')}:last-of-type {
			@if $contentColCount > $layoutCols {
				grid-column: span #{$layoutCols};
			}
			@else {
				grid-column: span #{$layoutCols - $contentColCount + 1};
			}
		}
	}
}

@mixin maybe-expand-middle($layoutCols, $contentColCount) {
	// Important: $layoutCols is breakpoint-dependent when this is used within grid-columns - it's not always the same as data-cols

	@if $contentColCount % 2 == 0 {
		// Ignore even numbers - no middle column to expand
	}
	@else {
		&[data-column-layout="expand-middle"] {
			> :nth-child(2) {
				grid-column: span #{$layoutCols - $contentColCount + 1};
			}
		}
	}
}

@mixin column-layout() {
	// Default/auto layout
	@include stack-columns();

	@include container-width-up('narrow') {
		grid-gap: var(--spacing-lg);
	}

	&[data-cols="2"], &[data-cols="4"], &[data-cols="6"] {
		@include grid-columns(2, 'small');
	}

	&[data-cols="4"] {
		@include grid-columns(4, 'narrower');
	}

	&[data-cols="3"], &[data-cols="5"], &[data-cols="6"] {
		@include grid-columns(3, 'small');
	}

	&[data-cols="5"] {
		@include grid-columns(5, 'narrow');
	}

	&[data-cols="6"] {
		@include grid-columns(6, 'narrow');
	}

	// TODO: Implement this when var for container query breakpoints is supported in all browsers
	//@container layout-section (max-width: var(--column-unstack-breakpoint)) {
	//	@include stack-columns(true);
	//}
}

@include bem-block('columns', ('column')) {
	@include column-layout();

	// When inside a PageSection
	div[data-size] > & {
		@include section-margin();
	}

	// Nested .columns (happens when the component has its own shortname which goes on the top-level <section> which also has data-size, which adds section padding)
	> #{class-ends-with('__columns')} {
		padding-block: 0;
	}

	// If this element has at least one child with a different background colour set, all children should have padding so they align
	@each $color, $value in $colors {
		&[data-background="#{$color}"] {
			// Has any direct child with a different background
			@each $color2, $value in $colors {
				@if $color != $color2 {
					&:has(> [data-background="#{$color2}"]) {
						.columns__column,
						#{class-contains('__column')} {
							@include nested-padding();
						}
					}
				}
			}

			// Has adjacent sibling with same background - negate the container gap
			& + & {
				margin-block-start: calc(var(--spacing-md) * -2);
			}
		}
	}

	// If this element doesn't have a background set, and there are any direct children with one,
	// then all children should have padding so they align
	&:not([data-background]) {
		&:has(> [data-background]) {
			.columns__column,
			#{class-contains('__column')} {
				@include nested-padding();
			}
		}
	}
}
