@use '../variables' as *;

.tabs {
	margin-bottom: var(--spacing-lg);

	&__tab-list {

		&__item {
			display: block;

			strong {
				display: block;
			}

			[role="tab"] {
				appearance: none;
				border: 0;
				background: unset;
				text-align: match-parent;
				cursor: pointer;
				display: block;
				width: 100%;
				padding: var(--spacing-xs) var(--spacing-sm);
				text-decoration-color: transparent;
				color: inherit;

				&:focus {
					text-decoration-color: currentColor;
				}

				&[aria-selected="true"],
				&:hover, &:focus, &:active {
					background: rgba(255,255,255,0.25);
				}
			}
		}
	}

	&__content {
		background: white;

		&__tab-panel {
			display: none;

			&.active {
				display: block;
			}
		}

		@each $name, $color in $colors {
			&[data-color-theme="#{$name}"] {
				h2, h3 {
					color: var(--color-#{$name});
				}
			}
		}
	}

	&[data-orientation="vertical"] {
		container-type: inline-size;
		display: flex;

		.tabs__tab-list {
			width: 100%;
			margin: 0;

			@container (min-width: 600px) {
				width: 14rem;
				flex-basis: 14rem;
				min-width: 14rem;
			}
		}

		.tabs__content {
			width: 100%;

			@container (min-width: 600px) {
				width: auto;
				flex-basis: auto;
				flex-grow: 1;
			}
		}
	}
}
