@use '../EventCard/event-card' as *;
@use '../mixins' as *;
@use '../variables' as *;

.events {
	width: 100%;

	&__heading {
		color: var(--theme-color);
	}

	&__list {
		margin: 0;
	}

	.button--view-all {
		margin-block-start: var(--spacing-md);
	}
}
