@use '../variables' as *;
@use '../bem-mixin' as *;
@use '../bem-class-selectors' as *;

@include bem-block('files', ('file-group')) {

	@include bem-block('files__file-group', ('file')) {

		@include bem-block('files__file-group__file', ('icon', 'content')) {
			display: flex;
			flex-wrap: nowrap;
			gap: var(--spacing-sm);
			margin-block-end: var(--spacing-sm);
			text-decoration: none;
			padding: var(--spacing-sm);
			transition: background 0.2s linear;
			font-size: 1rem;
			background: color-mix(in srgb, var(--theme-color) 10%, white);

			&:hover, &:focus, &:active {
				background: color-mix(in srgb, var(--theme-color) 20%, white);
			}

			&__icon {
				font-size: 2rem;
				color: var(--theme-color);
			}

			@include bem-block('files__file-group__file__content', ('title', 'description', 'meta')) {

				&:has(> :only-child) {
					display: flex;
					align-items: center;
				}

				&__title {
					font-weight: var(--font-weight-semibold);
					display: block;
					color: var(--theme-color);
				}

				&__description {
					display: block;
					font-size: var(--font-size-sm);
					line-height: 1.3;
					font-weight: var(--font-weight-light);
				}

				&__meta {
					margin-block-start: var(--spacing-xxs);
					display: flex;
					gap: var(--spacing-sm);
					justify-content: flex-end;

					#{class-ends-with('__size')},
					#{class-ends-with('__date')} {
						font-size: var(--font-size-sm);
					}
				}
			}
		}
	}
}
