@use '../mixins' as *;
@use '../bem-mixin' as *;
@use '../bem-class-selectors' as *;

// See also: data-group-layout, data-halign attributes in global.scss

.card-list {
	&__header,
	&__footer {
		display: flex;
		justify-content: inherit;
	}

	&__header {
		&:has(:nth-child(2)) {
			justify-content: space-between;
			align-items: center;
		}

		h2 {
			margin: 0;
		}
	}

	&__footer {
	}
}

:has(.card-list),
:has(#{class-ends-with('__card-list')}) {
	gap: var(--spacing-lg);
}

#{class-ends-with('__header')} {
	&:has(+ #{class-ends-with('__card-list')}) {
		@extend .card-list__header;
	}
}

#{class-ends-with('__card-list')} {
	+ #{class-ends-with('__footer')} {
		@extend .card-list__footer;
	}
}

@include bem-block('card-list', ('item')) {
	&__item {
		container-type: inline-size;

		@include container-width-up(narrow) {
			padding: var(--spacing-sm);
		}
	}
}
