@use '../mixins' as *;
@use '../bem-mixin' as *;
@use '../bem-class-selectors' as *;

@include bem-block('card-list', ('header', 'footer')) {
	#{class-ends-with('__container')} {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-lg);
	}

	&__header,
	&__footer {
		display: flex;
		justify-content: inherit;
	}

	&__header {
		&:has(:nth-child(2)) {
			justify-content: space-between;
			align-items: center;
		}

		h2 {
			margin: 0;
		}
	}

	&__footer {
	}
}

@include bem-block('card-list__list', ('item')) {
	gap: var(--spacing-lg);
	// This now gets most of its styling from the data-group-layout attribute, see global.scss

	&__item {
		container-type: inline-size;
	}
}
