@use '../bem-mixin' as *;

@include bem-block('icon-links', ('item')) {
	display: flex;
	gap: var(--spacing-sm);
	padding: 0 var(--spacing-sm);

	&__item {
		font-size: 1.5rem;
		display: inline-block;
		text-decoration: none;

		&:hover, &:focus, &:active {
			color: var(--color-accent);
		}
	}
}
