@use '../mixins' as *;
@use '../bem-mixin' as *;

@include bem-block('card', ('image', 'content')) {
	// Note: Default orientation is vertical, which shouldn't add the HTML attribute explicitly.
	height: 100%;
	display: flex;
	flex-direction: column;

	@include container-width-up('small') {
		&[data-layout-orientation='horizontal'] {
			display: grid;
			grid-template-columns: 1fr 2fr;
		}
	}

	&__image {
		overflow: hidden;
		width: 100%;

		[data-layout-orientation='horizontal'] & {
			height: 100%;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: var(--focal-point-x, 50%) var(--focal-point-y, 50%);
		}
	}

	&__content {
		padding: var(--spacing-sm);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		flex-grow: 1;
		background: white;

		@container (min-width: 600px) {
			padding: var(--spacing-md);
		}

		@container (min-width: 840px) {
			padding: var(--spacing-lg);
		}

		h3 > span:first-child {
			display: block;
			font-size: var(--font-size-sm);
			font-weight: var(--font-weight-bold);
			text-transform: uppercase;
			font-family: var(--font-family-body);
			margin-block-end: var(--spacing-xxs);
		}

		.is-style-small {
			margin-block-end: 0;
		}

		.button {
			margin-block-start: auto;
		}
	}
}
