@use '../mixins' as *;
@use '../bem-mixin' as *;
@use '../bem-class-selectors' as *;

@include bem-block('card', ('image', 'content')) {
	// Note: Default orientation is vertical, which shouldn't add the HTML attribute explicitly.
	height: 100%;
	display: flex;
	flex-direction: column;
	text-decoration: none;

	&:is(a) {
		&:hover, &:focus, &:active {
			color: var(--theme-color, inherit);
		}
	}

	@container (min-width: 340px) {
		&:has(#{class-contains('image')}) {
			&[data-orientation='horizontal'] {
				display: grid;
				grid-template-columns: 1fr 2fr;
			}
		}
	}

	&__image {
		overflow: hidden;
		width: 100%;

		[data-orientation='horizontal'] & {
			height: 100%;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: var(--focal-point-x, 50%) var(--focal-point-y, 50%);
		}
	}

	&__content {
		padding: var(--spacing-md);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		flex-grow: 1;

		#{class-ends-with('card-list__item__card')}:not([data-background]) & {
			background: white;
		}

		@container (min-width: 600px) {
			padding: var(--spacing-md);
		}

		@container (min-width: 840px) {
			padding: var(--spacing-lg);
		}

		h2 {
			margin: 0;
			font-size: var(--font-size-xs);

			& + h3 {
				margin-block-start: 0;
			}
		}

		h3 {
			margin-block-end: var(--spacing-sm);

			> span:first-child {
				display: block;
				font-size: var(--font-size-sm);
				font-weight: var(--font-weight-bold);
				text-transform: uppercase;
				font-family: var(--font-family-body);
				margin-block-end: var(--spacing-xxs);
			}

			&:has(i), &:has(svg) {
				width: 100%;
				display: flex;
				align-items: flex-start;
				justify-content: space-between;
				gap: var(--spacing-xs);
			}
		}

		p {
			@include line-clamp(3);

			[data-orientation='horizontal'] & {
				font-size: var(--font-size-sm);
				margin-block-start: var(--spacing-xxs);
			}
		}

		.button {
			margin-block-start: auto;
		}
	}
}
