@use '../mixins' as *;

.page-header {
	padding-block: var(--spacing-md);

	@include media-breakpoint-up('narrow') {
		padding-block: var(--spacing-xl);
	}

	@include media-breakpoint-up('wide') {
		padding-block: var(--spacing-xxl);
	}

	@include container-width-up('narrow') {
		padding-block: var(--spacing-xl);
	}

	.breadcrumbs {
		width: 100%;
		flex-basis: 100%;
	}

	h1 {
		margin-top: var(--spacing-xs);
		margin-bottom: 0;
		width: 100%;
		flex-basis: 100%;
	}
}
