@use '../mixins' as *;

.page-header {
	padding-block: var(--spacing-lg);

	@include container-width-up('narrow') {
		padding-block: var(--spacing-xl);
	}

	h1 {
		margin-top: var(--spacing-xs);
		margin-bottom: 0;
	}
}
