@use '../mixins' as *;

.page-header {

	@container (min-width: 1024px) {
		padding-top: 0;
	}

	.breadcrumbs {
		width: 100%;
		flex-basis: 100%;
	}

	h1 {
		margin-top: var(--spacing-xs);
		margin-bottom: 0;
		width: 100%;
		flex-basis: 100%;
	}

	&__container {
		&[data-halign="center"] {
			text-align: center;
		}
	}
}
