@use '../mixins' as *;

.call-to-action {
	padding-inline: var(--spacing-lg);
	text-align: center;

	@include container-width-up('small') {
		text-align: revert;
	}

	@include container-width-up('narrow') {
		padding-inline: var(--spacing-xl);
	}
}
