@use '../mixins' as *;
@use '../functions' as *;
@use '../bem-class-selectors' as *;

@mixin is-expanded {
	@container site-header style(--breakpoint:none) {
		@include media-breakpoint-up('narrow') {
			@content;
		}
	}

	// Workaround for browsers that don't support the above variable-based container queries
	@include media-breakpoint-up('narrow') {
		@content;
	}

	@container site-header (min-width: var(--breakpoint)) {
		@content;
	}

	@container site-header (min-width: var(--container-max-width)) {
		@content;
	}

	&.site-header:not(:has(.site-header__menu-toggle)) {
		@include media-breakpoint-up('narrow') {
			@content;
		}
	}
}

.site-header {
	position: relative;
	z-index: 500;
	padding-block-start: 0;
	container-name: site-header;
	// --breakpoint var should be set when the SiteHeader class is instantiated
	--logo-max-width: 14rem;
	--theme-color: contrast-color(var(--background-color));
	--active-color: var(--theme-color-inverse, contrast-color(var(--background-color)));

	@include is-expanded {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	&:has(> #{class-ends-with('__top')}),
	&:has(> #{class-contains('__logo')}):has(> #{class-ends-with('__top')}):has(> #{class-ends-with('__menu')}),
	&:has(> #{class-contains('__logo')}):has(> #{class-ends-with('__top')}):has(> [data-vue-component]) {
		@include is-expanded {
			display: grid;
			grid-template-columns: var(--logo-max-width) 1fr;
			grid-template-rows: auto auto;
			@include section-padding();
			row-gap: var(--spacing-lg);

			> #{class-contains('__logo')} {
				grid-column: 1;
				grid-row: 1 / 3;
				margin-inline: 0;
				margin-block: 0;
			}

			> #{class-ends-with('__top')} {
				justify-content: flex-end;
				padding-block-start: 0;
			}

			> #{class-ends-with('__menu')},
			[data-vue-component] #{class-ends-with('__menu')} {
				justify-content: flex-end;
			}
		}
	}

	.tippy-content {
		font-family: var(--font-family-body);
	}

	[data-vue-component],
	component {
		display: contents;
	}

	&__logo {
		display: block;
		max-width: var(--logo-max-width);
		margin-inline: auto;

		img {
			width: 100%;
		}

		@include is-expanded {
			margin-inline: 0;
		}
	}

	&__top {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		@include section-padding();
		padding-block-end: 0;

		&:empty {
			display: none;
		}

		.site-header:has(.site-header__menu-toggle) & {
			padding-inline-start: 3rem;
		}

		[data-style="overlay"] &,
		[data-style="off-canvas"] & {
			margin-inline: auto;
			text-align: center;
		}

		[data-style="off-canvas"] & {
			margin-block-start: auto;
		}

		address {
			justify-content: flex-end;

			[data-style="overlay"] &,
			[data-style="off-canvas"] & {
				justify-content: center;
			}
		}
	}

	// Whole menu toggle button
	&__menu-toggle {
		color: var(--theme-color);
		display: block;
		appearance: none;
		background: none;
		border: 0;
		font-size: 1.5rem;
		line-height: 1;
		cursor: pointer;
		padding: var(--spacing-sm);
		margin-left: auto;
		transition: color 0.2s ease-in-out;
		position: absolute;
		top: var(--spacing-sm);
		right: 0;
		z-index: 9999;

		:has(> #{class-ends-with('__top')}) & {
			right: unset;
			left: 0;
		}

		&[data-menu-style="off-canvas"],
		&[data-menu-style="overlay"] {
			margin-left: 0;
			--active-color: white;
		}

		&:hover, &:focus, &:active {
			color: var(--color-primary);
		}

		&[aria-expanded="true"] {
			color: var(--active-color);
		}
	}

	&__menu {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		[data-style="off-canvas"],
		[data-style="overlay"] & {
			width: fit-content;
		}

		[data-style="off-canvas"] & {
			margin-block-start: var(--spacing-xl);
			width: 100%;
		}

		// First-level items
		&__list {
			margin: 0;
			padding: 0;
			width: fit-content;
			text-align: center;
			display: flex;
			flex-direction: column;

			@include media-breakpoint-up('small') {
				flex-direction: row;
				justify-content: center;
				align-items: center;
				gap: var(--spacing-md);

				[data-style="off-canvas"] &,
				[data-style="overlay"] & {
					flex-direction: column;
					gap: revert;
				}
			}

			@include is-expanded {
				width: 100%;
				justify-content: flex-end;
				gap: var(--spacing-lg);
			}

			&__item {
				position: relative;
				display: inline-block;
				padding-block: var(--spacing-xs);
				font-weight: var(--font-weight-regular);
				margin-block: 0;

				[data-vue-component] & {
					display: block;
					transition: background 0.2s ease-in-out;
					padding-inline: var(--spacing-xs);

					&:hover, &:focus-within {
					}

					&:has(.button) {
						padding-inline-end: 0;

						&:hover {
							background: transparent;
						}
					}
				}

				&__link {
					display: block;
					flex-grow: 1;
					@include link-underline-on-hover();

					&:hover, &:focus, &:active,
					&[aria-current="page"],
					[data-current-parent="true"] & {
						@include active-link();
					}

					&[target="_blank"] {
						display: flex;
						align-items: center;
						align-content: center;
						justify-content: space-between;
						flex-wrap: nowrap;
					}

					&[target="_blank"] {
						// TODO: Make this not a hack and consistent across both "mobile" and large viewport
						&:not(:has(i)) {
							&:after {
								content: '\f08e';
								font-family: var(--fa-style-family-classic), "Font Awesome 6 Pro Solid";
								padding-inline-start: var(--spacing-xs);
							}
						}
					}
				}

				// Parent item when submenu containing current page is present
				&[data-current-parent="true"],
				&:has([aria-current="page"]) {
					> a {
						text-decoration-color: currentColor;
						color: var(--active-color);
					}
				}

				&:has([class*="__sub-menu"]) {
				}

				// Submenu toggle button
				&__toggle {
					cursor: pointer;
					background: none;
					appearance: none;
					border: 0;
					font-size: 1em;
					transition: color 0.2s ease-in-out;
					padding-block: 0 !important;
					color: inherit;

					&:hover, &:focus, &:active,
					&[aria-expanded="true"] {
						color: var(--active-color);
						background: transparent !important;
					}

					i, svg {
						transition: transform 0.3s ease;
						transform-origin: center center;

						&.fa-plus {
							transform: translateY(-2px);
							transform-origin: center center;
						}
					}

					&[aria-expanded="true"] {
						i, svg {
							transform: rotate(180deg);

							&.fa-plus {
								transform: rotate(45deg) translateY(-2px);
							}
						}
					}
				}

				&:hover, &:focus-within {
					#{class-ends-with('__sub-menu')} {
						opacity: 1;
						height: auto;
					}
				}
			}

			// If there is a top-level aria-current=page AND a top-level data-current-parent="true", only highlight the aria-current=page item
			&:has(&__item > [aria-current="page"]):has([data-current-parent="true"]) {
				[data-current-parent="true"] > a {
					text-decoration-color: transparent !important;
					color: inherit !important;

					&:after {
						opacity: 0;
					}

					&:hover, &:focus, &:active {
						color: var(--active-color) !important;
					}
				}
			}
		}

		// Submenu
		#{class-ends-with('__sub-menu')} {
			margin-top: 0;
			position: absolute;
			top: 100%;
			left: 0;
			opacity: 0;
			height: 0;
			overflow: hidden;
			transition: all 0.2s linear;
			min-width: 10rem;
			padding-block: var(--spacing-xxs);
			background: var(--theme-color);
			margin-inline: 0;
			color: var(--theme-color-inverse);

			li {
				display: block;
				margin-block: 0;

				a {
					display: block;
					padding: var(--spacing-xxs) var(--spacing-sm);
					font-weight: var(--font-weight-light);
					white-space: nowrap;
					font-size: var(--font-size-sm);
					color: inherit;
					flex-grow: 1;
					@include link-underline-on-hover();

					&:hover, &:focus, &:active {
						color: inherit;
					}

					&[target="_blank"] {
						display: flex;
						align-items: center;
						justify-content: space-between;
						flex-wrap: nowrap;
					}
				}
			}

			[data-style="overlay"] &,
			[data-style="off-canvas"] & {
			position: relative;
				width: 100%;
				flex-basis: 100%;
				overflow: hidden;
				transition: height 0.3s ease-in-out;
				background: transparent;
				margin: 0;
				padding: 0;
				opacity: 0;

				&[data-open="true"] {
					opacity: 1;

					@at-root body:has([data-open="true"]) {
						overflow: hidden;
						height: 100dvh;
					}
				}

				.site-header__menu__sub-menu__item {
					margin: 0;
					background: transparent;
					padding-block: 0;
					padding-inline: var(--spacing-xxs);

					&__link {
						background: transparent;
						color: inherit;
						padding-block: var(--spacing-xxs);
						padding-inline: 0;
					}
				}
			}
		}
	}

	&__responsive-content-wrapper {
		width: 100%;
		flex-basis: 100%;
		padding-inline: var(--spacing-sm);
		display: flex;
		align-items: center;
		justify-content: center;

		&[data-open="true"] {
			@at-root body:has(&) {
				overflow: hidden;
			}
		}

		&[data-style="overlay"] {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			transition: all 0.3s ease-in-out;
			z-index: -100;
			opacity: 0;
			visibility: hidden;

			body.admin-bar & {
				top: 2rem;
			}

			&[data-open="true"] {
				z-index: 9995;
				opacity: 1;
				visibility: visible;
			}
		}

		&[data-style="off-canvas"] {
			height: 100vh;
			width: 300px;
			position: fixed;
			top: 0;
			bottom: 0;
			box-shadow: 0 0 0.5rem 0 rgba(0,0,0,0.25);
			z-index: 200;
			padding-block: var(--spacing-xxl);
			transform: translateX(calc(-100% - var(--spacing-md)));
			transition: transform 0.3s ease;

			&[data-open="true"] {
				transform: translateX(calc(0% - var(--spacing-md)));
			}

			@at-root body:has(&) {
				&:after,
				.site-header:after {
					content: '';
					position: fixed;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background: transparentize-color(dark, 0.65);
					z-index: -100;
					opacity: 0;
					transition: opacity 0.3s ease;
					visibility: hidden;
					pointer-events: none;
				}
			}

			@at-root body:has(&[data-open="true"]) {
				&:after,
				.site-header:after {
					opacity: 1;
					z-index: 100;
					visibility: visible;
				}
			}
		}
	}

	&__overlay-content {
		text-align: center;
		margin-block-start: var(--spacing-xl);
	}
}
