.site-header {
  position: relative;
  z-index: 500;
}
.site-header__container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 0;
}
.site-header__logo {
  display: block;
  max-width: 8rem;
}
@container (min-width: 940px) {
  .site-header__logo {
    max-width: 11rem;
  }
}
.site-header__logo img {
  width: 100%;
}
.site-header__contact {
  margin-inline-start: auto;
  text-align: end;
}
[data-style=overlay] .site-header__contact, [data-style=off-canvas] .site-header__contact {
  margin-inline: auto;
  text-align: center;
}
[data-style=off-canvas] .site-header__contact {
  margin-block-start: auto;
}
.site-header__contact address {
  justify-content: flex-end;
}
[data-style=overlay] .site-header__contact address, [data-style=off-canvas] .site-header__contact address {
  justify-content: center;
}
.site-header [data-vue-component=site-header__responsive] {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-wrap: wrap;
}
.site-header__responsive {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
  container-name: header-responsive-expanded;
}
.site-header__responsive:has([data-style]) {
  container-name: header-responsive-compact;
}
.site-header__responsive:has([data-style=off-canvas]) {
  position: absolute;
  top: 0;
  left: 0;
}
.site-header__responsive component {
  display: contents;
}
.site-header__responsive__menu-toggle {
  color: var(--theme-color);
  display: block;
  appearance: none;
  background: none;
  border: 0;
  font-size: 1.5rem;
  line-height: 1;
  cursor: pointer;
  padding: var(--spacing-sm);
  margin-left: auto;
  transition: color 0.2s ease-in-out;
  position: relative;
  z-index: 9999;
  margin-top: -1rem;
}
.site-header__responsive__menu-toggle[data-menu-style=off-canvas] {
  margin-left: 0;
}
.site-header__responsive__menu-toggle:hover, .site-header__responsive__menu-toggle:focus, .site-header__responsive__menu-toggle:active {
  color: var(--active-color);
}
.site-header__responsive__menu-toggle[aria-expanded=true] {
  color: var(--active-color);
}
.site-header__responsive__content {
  display: block;
  width: 100%;
  flex-basis: 100%;
  padding-inline: var(--spacing-sm);
}
body:has(.site-header__responsive__content[data-open=true]) {
  overflow: hidden;
}

.site-header__responsive__content[data-style=default] {
  height: 0;
  max-height: 0;
  min-height: 0;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  overflow: hidden;
}
.site-header__responsive__content[data-style=default][data-open=true] {
  min-height: 200px;
  opacity: 1;
  max-height: 100vh;
  transition: all 0.3s ease-in-out;
  height: auto;
}
.site-header__responsive__content[data-style=overlay] {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.3s ease-in-out;
  z-index: -100;
  opacity: 0;
  visibility: hidden;
}
body.admin-bar .site-header__responsive__content[data-style=overlay] {
  top: 2rem;
}
.site-header__responsive__content[data-style=overlay][data-open=true] {
  z-index: 9995;
  opacity: 1;
  visibility: visible;
}
.site-header__responsive__content[data-style=overlay] > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-lg);
}
.site-header__responsive__content[data-style=overlay] > div .site-header__menu-list {
  display: block;
  text-align: center;
}
.site-header__responsive__content[data-style=off-canvas] {
  height: 100vh;
  width: 300px;
  position: fixed;
  top: 0;
  bottom: 0;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.25);
  z-index: 200;
  padding-block: var(--spacing-xxl);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}
.site-header__responsive__content[data-style=off-canvas][data-open=true] {
  transform: translateX(0);
}
body:has(.site-header__responsive__content[data-style=off-canvas]):after,
body:has(.site-header__responsive__content[data-style=off-canvas]) .site-header:after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(from var(--color-dark) r g b/0.65);
  z-index: -100;
  opacity: 0;
  transition: opacity 0.3s ease;
}

body:has(.site-header__responsive__content[data-style=off-canvas][data-open=true]):after,
body:has(.site-header__responsive__content[data-style=off-canvas][data-open=true]) .site-header:after {
  opacity: 1;
  z-index: 100;
}

.site-header__responsive__content[data-style=off-canvas] .site-header__responsive__content__wrapper {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
}
.site-header__menu {
  container-type: inline-size;
  container-name: header-menu-expanded;
  display: flex;
  flex-grow: 1;
  width: 100%;
}
[data-style=overlay] .site-header__menu, [data-style=off-canvas] .site-header__menu {
  container-type: initial;
  container-name: header-menu-compact;
  flex-grow: 0;
}
[data-style=off-canvas] .site-header__menu {
  margin-block-start: var(--spacing-xl);
}
.site-header__menu__list {
  display: block;
  margin-inline: 0;
}
[data-style=overlay] .site-header__menu__list {
  margin-inline: auto;
}
[data-style=off-canvas] .site-header__menu__list {
  width: 100%;
}
@container header-menu-expanded {
  .site-header__menu__list {
    margin-inline-start: auto;
    margin-inline-end: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
.site-header__menu__list__item {
  position: relative;
  display: inline-block;
  padding-block: var(--spacing-xs);
  font-size: calc(var(--typescale) * 1rem);
  font-weight: var(--font-weight-regular);
  margin-block: 0;
}
@container header-menu-expanded {
  .site-header__menu__list__item {
    font-size: var(--font-size-base);
  }
}
.site-header__menu__list__item:hover, .site-header__menu__list__item:focus-within {
  background: color-mix(in srgb, var(--background-color) 90%, black);
}
@container header-menu-expanded {
  .site-header__menu__list__item:hover, .site-header__menu__list__item:focus-within {
    background: transparent;
  }
}
.site-header__menu__list__item__link {
  display: block;
  color: var(--theme-color);
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: all 0.2s ease-in-out;
  flex-grow: 1;
}
.site-header__menu__list__item__link:hover, .site-header__menu__list__item__link:focus, .site-header__menu__list__item__link:active, .site-header__menu__list__item__link[aria-current=page], [data-current-parent=true] .site-header__menu__list__item__link {
  text-decoration-color: currentColor;
}
.site-header__menu__list__item__link[target=_blank] {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.site-header__menu__list__item__button[target=_blank]:not(:has(i)):after {
  content: "\f08e";
  font-family: var(--fa-style-family-classic), "Font Awesome 6 Pro Solid";
  padding-inline-start: var(--spacing-xs);
}
.site-header__menu__list__item[data-current-parent=true] > a, .site-header__menu__list__item:has([aria-current=page]) > a {
  text-decoration-color: currentColor;
  color: var(--active-color);
}
.site-header__responsive .site-header__menu__list__item {
  display: block;
  transition: background 0.2s ease-in-out;
  padding-inline: var(--spacing-xs);
}
.site-header__responsive .site-header__menu__list__item:has(.button) {
  padding-inline-end: 0;
}
.site-header__responsive .site-header__menu__list__item:has(.button):hover {
  background: transparent;
}
.site-header__menu__list__item:has(.site-header__menu__sub-menu) {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.site-header__menu__list__item__toggle {
  cursor: pointer;
  background: none;
  appearance: none;
  border: 0;
  font-size: 1em;
  transition: color 0.2s ease-in-out;
  padding-block: 0 !important;
  color: inherit;
}
.site-header__menu__list__item__toggle:hover, .site-header__menu__list__item__toggle:focus, .site-header__menu__list__item__toggle:active, .site-header__menu__list__item__toggle[aria-expanded=true] {
  color: var(--active-color);
  background: transparent !important;
}
.site-header__menu__list__item__toggle i, .site-header__menu__list__item__toggle svg {
  transition: transform 0.3s ease;
  transform-origin: center center;
}
.site-header__menu__list__item__toggle i.fa-plus, .site-header__menu__list__item__toggle svg.fa-plus {
  transform: translateY(-2px);
  transform-origin: center center;
}
.site-header__menu__list__item__toggle[aria-expanded=true] i, .site-header__menu__list__item__toggle[aria-expanded=true] svg {
  transform: rotate(180deg);
}
.site-header__menu__list__item__toggle[aria-expanded=true] i.fa-plus, .site-header__menu__list__item__toggle[aria-expanded=true] svg.fa-plus {
  transform: rotate(45deg) translateY(-2px);
}
.site-header__menu__list__item:hover .site-header__menu__sub-menu, .site-header__menu__list__item:focus-within .site-header__menu__sub-menu {
  opacity: 1;
  height: auto;
}
.site-header__menu__list:has(.site-header__menu__list__item > [aria-current=page]):has([data-current-parent=true]) [data-current-parent=true] > a {
  text-decoration-color: transparent !important;
  color: inherit !important;
}
.site-header__menu__list:has(.site-header__menu__list__item > [aria-current=page]):has([data-current-parent=true]) [data-current-parent=true] > a:after {
  opacity: 0;
}
.site-header__menu__list:has(.site-header__menu__list__item > [aria-current=page]):has([data-current-parent=true]) [data-current-parent=true] > a:hover, .site-header__menu__list:has(.site-header__menu__list__item > [aria-current=page]):has([data-current-parent=true]) [data-current-parent=true] > a:focus, .site-header__menu__list:has(.site-header__menu__list__item > [aria-current=page]):has([data-current-parent=true]) [data-current-parent=true] > a:active {
  color: var(--active-color) !important;
}
.site-header__menu__sub-menu {
  margin-top: 0;
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: all 0.2s linear;
  min-width: 10rem;
  padding-block: var(--spacing-xxs);
  background: var(--theme-color);
  margin-inline: 0;
  color: var(--theme-color-inverse);
}
.site-header__menu__sub-menu__item {
  display: block;
  margin-block: 0;
}
.site-header__menu__sub-menu__item__link {
  display: block;
  padding: var(--spacing-xxs) var(--spacing-sm);
  font-weight: var(--font-weight-light);
  white-space: nowrap;
  font-size: var(--font-size-sm);
  color: inherit;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: all 0.2s ease-in-out;
  flex-grow: 1;
}
.site-header__menu__sub-menu__item__link:hover, .site-header__menu__sub-menu__item__link:focus, .site-header__menu__sub-menu__item__link:active {
  text-decoration-color: currentColor;
  color: inherit;
}
.site-header__menu__sub-menu__item__link[target=_blank] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
[data-style=overlay] .site-header__menu__sub-menu, [data-style=off-canvas] .site-header__menu__sub-menu {
  position: relative;
  width: 100%;
  flex-basis: 100%;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
  background: transparent;
  margin: 0;
  padding: 0;
  opacity: 0;
}
[data-style=overlay] .site-header__menu__sub-menu[data-open=true], [data-style=off-canvas] .site-header__menu__sub-menu[data-open=true] {
  opacity: 1;
}
[data-style=overlay] .site-header__menu__sub-menu .site-header__menu__sub-menu__item, [data-style=off-canvas] .site-header__menu__sub-menu .site-header__menu__sub-menu__item {
  margin: 0;
  background: transparent;
  padding-block: 0;
  padding-inline: var(--spacing-xxs);
}
[data-style=overlay] .site-header__menu__sub-menu .site-header__menu__sub-menu__item__link, [data-style=off-canvas] .site-header__menu__sub-menu .site-header__menu__sub-menu__item__link {
  background: transparent;
  color: inherit;
  padding-block: var(--spacing-xxs);
  padding-inline: 0;
}

/*# sourceMappingURL=site-header.css.map */
