@use '../mixins' as *;
@use '../functions' as *;

.site-header {
	position: relative;
	z-index: 500;

	.container {
		display: flex;
		flex-wrap: nowrap;
	}

	&__logo {
		display: block;
		max-width: 8rem;

		@include container-width-up('narrow') {
			max-width: 11rem;
		}

		img {
			width: 100%;
			max-width: 11rem;
		}
	}

	[data-vue-component="site-header__responsive"] {
		display: flex;
		flex-grow: 1;
		align-items: flex-start;
		flex-wrap: wrap;
	}

	&__responsive {
		&__start,
		&__menu,
		&__end {
			display: contents;
		}

		// Whole menu toggle button
		&__menu-toggle {
			display: block;
			appearance: none;
			background: none;
			border: 0;
			font-size: 1.5rem;
			line-height: 1;
			cursor: pointer;
			padding: var(--spacing-sm);
			margin-left: auto;
			transition: color 0.2s ease-in-out;
			position: relative;
			z-index: 9999;

			&:hover, &:focus, &:active {
				color: var(--color-secondary);
			}
		}

		&__content {
			display: block;
			width: 100%;
			flex-basis: 100%;
			padding-inline: var(--spacing-sm);
		}

		&--default {
			.site-header__responsive__content {
				height: 0;
				max-height: 0;
				min-height: 0;
				transition: all 0.3s ease-in-out;
				opacity: 0;
				overflow: hidden;

				&[data-open="true"] {
					min-height: 200px;
					opacity: 1;
					max-height: 100vh;
					transition: all 0.3s ease-in-out;
					height: auto; // to allow for the submenus to alter the height when opened/closed
				}
			}
		}

		&--overlay {
			.site-header__responsive__content {
				position: fixed;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				transition: all 0.3s ease-in-out;
				background: var(--color-primary);
				color: var(--readable-color-primary);
				z-index: -100;
				opacity: 0;
				visibility: hidden;

				body.admin-bar & {
					top: 2rem;
				}

				&[data-open="true"] {
					z-index: 9995;
					opacity: 1;
					visibility: visible;

					body & {
						overflow: hidden;
					}

					> div {
						width: 100%;
						height: 100%;
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;

						.site-header__menu-list {
							display: block;
							text-align: center;
						}
					}
				}
			}
		}
	}

	&__menu {
		container-type: inline-size;
		flex-grow: 1;
		padding-block: var(--spacing-lg);

		&-list {
			margin-inline: 0;
			display: block;

			@container (min-width: 600px) {
				display: flex;
				justify-content: flex-end;
			}

			.site-header__menu--responsive & {
				display: block !important;
			}

			&__item {
				position: relative;
				display: inline-block;
				padding-bottom: var(--spacing-xs);

				&__link {
					display: block;
					color: var(--color-primary);
					text-decoration: underline;
					text-decoration-color: transparent;
					transition: all 0.2s ease-in-out;
					flex-grow: 1;

					&:hover, &:focus, &:active,
					&[aria-current="page"] {
						text-decoration-color: currentColor;
					}

					&[target="_blank"] {
						display: flex;
						align-items: center;
						justify-content: space-between;
						flex-wrap: nowrap;

						&:after {
							content: '\f061';
							font-family: var(--fa-style-family-classic), "Font Awesome 6 Pro Solid";
							padding-inline-start: var(--spacing-xs);
						}
					}
				}

				// Parent item when submenu containing current page is present
				&:has([aria-current="page"]) {
					> a {
						text-decoration-color: currentColor;
						color: var(--color-secondary);
					}
				}

				.site-header__responsive & {
					display: block;
					transition: background 0.2s ease-in-out;
					padding-inline: var(--spacing-xs);

					&:hover, &:focus-within {
						background: var(--color-light);
					}

					&:has(button) {
						padding-inline-end: 0;
						padding-block: 0;
					}

					button {
						padding: var(--spacing-xs);
						transition: all 0.2s ease-in-out;

						&:hover, &:focus, &:active {
							background: darken('light', 10%);
						}
					}
				}

				&:has(.menu-list--responsive) {
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					justify-content: space-between;
				}

				// Submenu toggle button
				&__toggle {
					cursor: pointer;
					background: none;
					appearance: none;
					border: 0;
					font-size: 1em;
					transition: color 0.2s ease-in-out;

					&:hover, &:focus, &:active {
						color: var(--color-secondary);
					}

					i, svg {
						transition: transform 0.3s ease;
						transform-origin: center center;
					}

					&[aria-expanded="true"] {
						i, svg {
							transform: rotate(180deg);
						}
					}
				}


				// Submenu
				.menu-list {
					margin-top: 0;
					position: absolute;
					top: 100%;
					left: 0;
					opacity: 0;
					height: 0;
					transition: all 0.2s linear;
					min-width: 10rem;
					padding-block: var(--spacing-xxs);
					background: var(--color-primary);
					margin-inline: 0;
					color: var(--readable-color-primary);

					&__item {
						display: block;

						&__link {
							display: block;
							padding: var(--spacing-xs) var(--spacing-sm);
							white-space: nowrap;
							font-size: var(--font-size-sm);
							color: inherit;
							text-decoration: underline;
							text-decoration-color: transparent;
							transition: all 0.2s ease-in-out;
							flex-grow: 1;

							&:hover, &:focus, &:active {
								text-decoration-color: currentColor;
								background: rgb(0 0 0 / 0.25);
							}

							&[target="_blank"] {
								display: flex;
								align-items: center;
								justify-content: space-between;
								flex-wrap: nowrap;

								&:after {
									content: '\f08e';
									font-family: var(--fa-style-family-classic), "Font Awesome 6 Pro Solid";
									display: inline-block;
									padding-inline-start: var(--spacing-xs);
									font-size: 0.85em;
								}
							}
						}
					}

					&--responsive {
						position: relative;
						width: 100%;
						flex-basis: 100%;
						overflow: hidden;
						transition: height 0.3s ease-in-out;
						background: transparent;
						margin: 0;
						padding: 0;
						opacity: 0;

						&[data-open="true"] {
							opacity: 1;
						}

						.menu-list__item {
							margin: 0;

							&__link {
								padding: 0;
								background: transparent;
								color: inherit;
							}
						}
					}
				}

				&:hover, &:focus-within {
					.menu-list {
						opacity: 1;
						height: auto;
					}
				}
			}
		}
	}
}
