@use 'variables' as *;

$widths: (
	'wide': 1440px,
	'contained': 1100px,
	'narrow': 960px,
	'narrower': 768px,
	'small': 600px
);

@mixin container-width-up($widthName) {
	@container (min-width: #{map-get($widths, $widthName)}) {
		@content;
	}
}

@mixin media-breakpoint-up($widthName) {
	@media (min-width: #{map-get($widths, $widthName)}) {
		@content;
	}
}

@mixin section-padding() {
	padding-block: var(--spacing-md);

	@include media-breakpoint-up('narrow') {
		padding-block: var(--spacing-xl);
	}

	@include media-breakpoint-up('wide') {
		padding-block: var(--spacing-xxl);
	}

	// Handle same colour adjacent sections
	@each $name, $color in $colors {
		&[data-background="#{$name}"] + &[data-background="#{$name}"] {
			padding-block-start: 0;
		}
	}

	// If no bg colour, handle them as adjacent
	&:not([data-background]) + &:not([data-background]) {
		padding-block-start: 0;
	}
}
