@layer comet-components-common {
  :root {
    --color-primary: #845ec2;
    --color-secondary: #00c9a7;
    --color-accent: #ba3caf;
    --color-info: #00d2fc;
    --color-warning: #f9c971;
    --color-success: #00c9a7;
    --color-error: #d23e3e;
    --color-light: #F0F0F2;
    --color-dark: #4b4453;
    --color-white: #ffffff;
  }
}
@layer comet-components-common {
  :root {
    --font-family-body: sans-serif;
    --font-family-accent: sans-serif;
    --readable-color-primary: contrast-color(var(--color-primary));
    --gradient-primary-secondary: linear-gradient(180deg, var(--color-primary) 0%, var(--color-primary) 50%, var(--color-secondary) 50%, var(--color-secondary) 100%);
    --gradient-primary-accent: linear-gradient(180deg, var(--color-primary) 0%, var(--color-primary) 50%, var(--color-accent) 50%, var(--color-accent) 100%);
    --gradient-primary-info: linear-gradient(180deg, var(--color-primary) 0%, var(--color-primary) 50%, var(--color-info) 50%, var(--color-info) 100%);
    --gradient-primary-warning: linear-gradient(180deg, var(--color-primary) 0%, var(--color-primary) 50%, var(--color-warning) 50%, var(--color-warning) 100%);
    --gradient-primary-success: linear-gradient(180deg, var(--color-primary) 0%, var(--color-primary) 50%, var(--color-success) 50%, var(--color-success) 100%);
    --gradient-primary-error: linear-gradient(180deg, var(--color-primary) 0%, var(--color-primary) 50%, var(--color-error) 50%, var(--color-error) 100%);
    --gradient-primary-light: linear-gradient(180deg, var(--color-primary) 0%, var(--color-primary) 50%, var(--color-light) 50%, var(--color-light) 100%);
    --gradient-primary-dark: linear-gradient(180deg, var(--color-primary) 0%, var(--color-primary) 50%, var(--color-dark) 50%, var(--color-dark) 100%);
    --gradient-primary-white: linear-gradient(180deg, var(--color-primary) 0%, var(--color-primary) 50%, var(--color-white) 50%, var(--color-white) 100%);
    --readable-color-secondary: contrast-color(var(--color-secondary));
    --gradient-secondary-primary: linear-gradient(180deg, var(--color-secondary) 0%, var(--color-secondary) 50%, var(--color-primary) 50%, var(--color-primary) 100%);
    --gradient-secondary-accent: linear-gradient(180deg, var(--color-secondary) 0%, var(--color-secondary) 50%, var(--color-accent) 50%, var(--color-accent) 100%);
    --gradient-secondary-info: linear-gradient(180deg, var(--color-secondary) 0%, var(--color-secondary) 50%, var(--color-info) 50%, var(--color-info) 100%);
    --gradient-secondary-warning: linear-gradient(180deg, var(--color-secondary) 0%, var(--color-secondary) 50%, var(--color-warning) 50%, var(--color-warning) 100%);
    --gradient-secondary-success: linear-gradient(180deg, var(--color-secondary) 0%, var(--color-secondary) 50%, var(--color-success) 50%, var(--color-success) 100%);
    --gradient-secondary-error: linear-gradient(180deg, var(--color-secondary) 0%, var(--color-secondary) 50%, var(--color-error) 50%, var(--color-error) 100%);
    --gradient-secondary-light: linear-gradient(180deg, var(--color-secondary) 0%, var(--color-secondary) 50%, var(--color-light) 50%, var(--color-light) 100%);
    --gradient-secondary-dark: linear-gradient(180deg, var(--color-secondary) 0%, var(--color-secondary) 50%, var(--color-dark) 50%, var(--color-dark) 100%);
    --gradient-secondary-white: linear-gradient(180deg, var(--color-secondary) 0%, var(--color-secondary) 50%, var(--color-white) 50%, var(--color-white) 100%);
    --readable-color-accent: contrast-color(var(--color-accent));
    --gradient-accent-primary: linear-gradient(180deg, var(--color-accent) 0%, var(--color-accent) 50%, var(--color-primary) 50%, var(--color-primary) 100%);
    --gradient-accent-secondary: linear-gradient(180deg, var(--color-accent) 0%, var(--color-accent) 50%, var(--color-secondary) 50%, var(--color-secondary) 100%);
    --gradient-accent-info: linear-gradient(180deg, var(--color-accent) 0%, var(--color-accent) 50%, var(--color-info) 50%, var(--color-info) 100%);
    --gradient-accent-warning: linear-gradient(180deg, var(--color-accent) 0%, var(--color-accent) 50%, var(--color-warning) 50%, var(--color-warning) 100%);
    --gradient-accent-success: linear-gradient(180deg, var(--color-accent) 0%, var(--color-accent) 50%, var(--color-success) 50%, var(--color-success) 100%);
    --gradient-accent-error: linear-gradient(180deg, var(--color-accent) 0%, var(--color-accent) 50%, var(--color-error) 50%, var(--color-error) 100%);
    --gradient-accent-light: linear-gradient(180deg, var(--color-accent) 0%, var(--color-accent) 50%, var(--color-light) 50%, var(--color-light) 100%);
    --gradient-accent-dark: linear-gradient(180deg, var(--color-accent) 0%, var(--color-accent) 50%, var(--color-dark) 50%, var(--color-dark) 100%);
    --gradient-accent-white: linear-gradient(180deg, var(--color-accent) 0%, var(--color-accent) 50%, var(--color-white) 50%, var(--color-white) 100%);
    --readable-color-info: contrast-color(var(--color-info));
    --gradient-info-primary: linear-gradient(180deg, var(--color-info) 0%, var(--color-info) 50%, var(--color-primary) 50%, var(--color-primary) 100%);
    --gradient-info-secondary: linear-gradient(180deg, var(--color-info) 0%, var(--color-info) 50%, var(--color-secondary) 50%, var(--color-secondary) 100%);
    --gradient-info-accent: linear-gradient(180deg, var(--color-info) 0%, var(--color-info) 50%, var(--color-accent) 50%, var(--color-accent) 100%);
    --gradient-info-warning: linear-gradient(180deg, var(--color-info) 0%, var(--color-info) 50%, var(--color-warning) 50%, var(--color-warning) 100%);
    --gradient-info-success: linear-gradient(180deg, var(--color-info) 0%, var(--color-info) 50%, var(--color-success) 50%, var(--color-success) 100%);
    --gradient-info-error: linear-gradient(180deg, var(--color-info) 0%, var(--color-info) 50%, var(--color-error) 50%, var(--color-error) 100%);
    --gradient-info-light: linear-gradient(180deg, var(--color-info) 0%, var(--color-info) 50%, var(--color-light) 50%, var(--color-light) 100%);
    --gradient-info-dark: linear-gradient(180deg, var(--color-info) 0%, var(--color-info) 50%, var(--color-dark) 50%, var(--color-dark) 100%);
    --gradient-info-white: linear-gradient(180deg, var(--color-info) 0%, var(--color-info) 50%, var(--color-white) 50%, var(--color-white) 100%);
    --readable-color-warning: contrast-color(var(--color-warning));
    --gradient-warning-primary: linear-gradient(180deg, var(--color-warning) 0%, var(--color-warning) 50%, var(--color-primary) 50%, var(--color-primary) 100%);
    --gradient-warning-secondary: linear-gradient(180deg, var(--color-warning) 0%, var(--color-warning) 50%, var(--color-secondary) 50%, var(--color-secondary) 100%);
    --gradient-warning-accent: linear-gradient(180deg, var(--color-warning) 0%, var(--color-warning) 50%, var(--color-accent) 50%, var(--color-accent) 100%);
    --gradient-warning-info: linear-gradient(180deg, var(--color-warning) 0%, var(--color-warning) 50%, var(--color-info) 50%, var(--color-info) 100%);
    --gradient-warning-success: linear-gradient(180deg, var(--color-warning) 0%, var(--color-warning) 50%, var(--color-success) 50%, var(--color-success) 100%);
    --gradient-warning-error: linear-gradient(180deg, var(--color-warning) 0%, var(--color-warning) 50%, var(--color-error) 50%, var(--color-error) 100%);
    --gradient-warning-light: linear-gradient(180deg, var(--color-warning) 0%, var(--color-warning) 50%, var(--color-light) 50%, var(--color-light) 100%);
    --gradient-warning-dark: linear-gradient(180deg, var(--color-warning) 0%, var(--color-warning) 50%, var(--color-dark) 50%, var(--color-dark) 100%);
    --gradient-warning-white: linear-gradient(180deg, var(--color-warning) 0%, var(--color-warning) 50%, var(--color-white) 50%, var(--color-white) 100%);
    --readable-color-success: contrast-color(var(--color-success));
    --gradient-success-primary: linear-gradient(180deg, var(--color-success) 0%, var(--color-success) 50%, var(--color-primary) 50%, var(--color-primary) 100%);
    --gradient-success-secondary: linear-gradient(180deg, var(--color-success) 0%, var(--color-success) 50%, var(--color-secondary) 50%, var(--color-secondary) 100%);
    --gradient-success-accent: linear-gradient(180deg, var(--color-success) 0%, var(--color-success) 50%, var(--color-accent) 50%, var(--color-accent) 100%);
    --gradient-success-info: linear-gradient(180deg, var(--color-success) 0%, var(--color-success) 50%, var(--color-info) 50%, var(--color-info) 100%);
    --gradient-success-warning: linear-gradient(180deg, var(--color-success) 0%, var(--color-success) 50%, var(--color-warning) 50%, var(--color-warning) 100%);
    --gradient-success-error: linear-gradient(180deg, var(--color-success) 0%, var(--color-success) 50%, var(--color-error) 50%, var(--color-error) 100%);
    --gradient-success-light: linear-gradient(180deg, var(--color-success) 0%, var(--color-success) 50%, var(--color-light) 50%, var(--color-light) 100%);
    --gradient-success-dark: linear-gradient(180deg, var(--color-success) 0%, var(--color-success) 50%, var(--color-dark) 50%, var(--color-dark) 100%);
    --gradient-success-white: linear-gradient(180deg, var(--color-success) 0%, var(--color-success) 50%, var(--color-white) 50%, var(--color-white) 100%);
    --readable-color-error: contrast-color(var(--color-error));
    --gradient-error-primary: linear-gradient(180deg, var(--color-error) 0%, var(--color-error) 50%, var(--color-primary) 50%, var(--color-primary) 100%);
    --gradient-error-secondary: linear-gradient(180deg, var(--color-error) 0%, var(--color-error) 50%, var(--color-secondary) 50%, var(--color-secondary) 100%);
    --gradient-error-accent: linear-gradient(180deg, var(--color-error) 0%, var(--color-error) 50%, var(--color-accent) 50%, var(--color-accent) 100%);
    --gradient-error-info: linear-gradient(180deg, var(--color-error) 0%, var(--color-error) 50%, var(--color-info) 50%, var(--color-info) 100%);
    --gradient-error-warning: linear-gradient(180deg, var(--color-error) 0%, var(--color-error) 50%, var(--color-warning) 50%, var(--color-warning) 100%);
    --gradient-error-success: linear-gradient(180deg, var(--color-error) 0%, var(--color-error) 50%, var(--color-success) 50%, var(--color-success) 100%);
    --gradient-error-light: linear-gradient(180deg, var(--color-error) 0%, var(--color-error) 50%, var(--color-light) 50%, var(--color-light) 100%);
    --gradient-error-dark: linear-gradient(180deg, var(--color-error) 0%, var(--color-error) 50%, var(--color-dark) 50%, var(--color-dark) 100%);
    --gradient-error-white: linear-gradient(180deg, var(--color-error) 0%, var(--color-error) 50%, var(--color-white) 50%, var(--color-white) 100%);
    --readable-color-light: contrast-color(var(--color-light));
    --gradient-light-primary: linear-gradient(180deg, var(--color-light) 0%, var(--color-light) 50%, var(--color-primary) 50%, var(--color-primary) 100%);
    --gradient-light-secondary: linear-gradient(180deg, var(--color-light) 0%, var(--color-light) 50%, var(--color-secondary) 50%, var(--color-secondary) 100%);
    --gradient-light-accent: linear-gradient(180deg, var(--color-light) 0%, var(--color-light) 50%, var(--color-accent) 50%, var(--color-accent) 100%);
    --gradient-light-info: linear-gradient(180deg, var(--color-light) 0%, var(--color-light) 50%, var(--color-info) 50%, var(--color-info) 100%);
    --gradient-light-warning: linear-gradient(180deg, var(--color-light) 0%, var(--color-light) 50%, var(--color-warning) 50%, var(--color-warning) 100%);
    --gradient-light-success: linear-gradient(180deg, var(--color-light) 0%, var(--color-light) 50%, var(--color-success) 50%, var(--color-success) 100%);
    --gradient-light-error: linear-gradient(180deg, var(--color-light) 0%, var(--color-light) 50%, var(--color-error) 50%, var(--color-error) 100%);
    --gradient-light-dark: linear-gradient(180deg, var(--color-light) 0%, var(--color-light) 50%, var(--color-dark) 50%, var(--color-dark) 100%);
    --gradient-light-white: linear-gradient(180deg, var(--color-light) 0%, var(--color-light) 50%, var(--color-white) 50%, var(--color-white) 100%);
    --readable-color-dark: contrast-color(var(--color-dark));
    --gradient-dark-primary: linear-gradient(180deg, var(--color-dark) 0%, var(--color-dark) 50%, var(--color-primary) 50%, var(--color-primary) 100%);
    --gradient-dark-secondary: linear-gradient(180deg, var(--color-dark) 0%, var(--color-dark) 50%, var(--color-secondary) 50%, var(--color-secondary) 100%);
    --gradient-dark-accent: linear-gradient(180deg, var(--color-dark) 0%, var(--color-dark) 50%, var(--color-accent) 50%, var(--color-accent) 100%);
    --gradient-dark-info: linear-gradient(180deg, var(--color-dark) 0%, var(--color-dark) 50%, var(--color-info) 50%, var(--color-info) 100%);
    --gradient-dark-warning: linear-gradient(180deg, var(--color-dark) 0%, var(--color-dark) 50%, var(--color-warning) 50%, var(--color-warning) 100%);
    --gradient-dark-success: linear-gradient(180deg, var(--color-dark) 0%, var(--color-dark) 50%, var(--color-success) 50%, var(--color-success) 100%);
    --gradient-dark-error: linear-gradient(180deg, var(--color-dark) 0%, var(--color-dark) 50%, var(--color-error) 50%, var(--color-error) 100%);
    --gradient-dark-light: linear-gradient(180deg, var(--color-dark) 0%, var(--color-dark) 50%, var(--color-light) 50%, var(--color-light) 100%);
    --gradient-dark-white: linear-gradient(180deg, var(--color-dark) 0%, var(--color-dark) 50%, var(--color-white) 50%, var(--color-white) 100%);
    --readable-color-white: contrast-color(var(--color-white));
    --gradient-white-primary: linear-gradient(180deg, var(--color-white) 0%, var(--color-white) 50%, var(--color-primary) 50%, var(--color-primary) 100%);
    --gradient-white-secondary: linear-gradient(180deg, var(--color-white) 0%, var(--color-white) 50%, var(--color-secondary) 50%, var(--color-secondary) 100%);
    --gradient-white-accent: linear-gradient(180deg, var(--color-white) 0%, var(--color-white) 50%, var(--color-accent) 50%, var(--color-accent) 100%);
    --gradient-white-info: linear-gradient(180deg, var(--color-white) 0%, var(--color-white) 50%, var(--color-info) 50%, var(--color-info) 100%);
    --gradient-white-warning: linear-gradient(180deg, var(--color-white) 0%, var(--color-white) 50%, var(--color-warning) 50%, var(--color-warning) 100%);
    --gradient-white-success: linear-gradient(180deg, var(--color-white) 0%, var(--color-white) 50%, var(--color-success) 50%, var(--color-success) 100%);
    --gradient-white-error: linear-gradient(180deg, var(--color-white) 0%, var(--color-white) 50%, var(--color-error) 50%, var(--color-error) 100%);
    --gradient-white-light: linear-gradient(180deg, var(--color-white) 0%, var(--color-white) 50%, var(--color-light) 50%, var(--color-light) 100%);
    --gradient-white-dark: linear-gradient(180deg, var(--color-white) 0%, var(--color-white) 50%, var(--color-dark) 50%, var(--color-dark) 100%);
    --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-md: calc(1rem * pow(var(--typescale), 1));
    --font-size-lg: calc(1rem * pow(var(--typescale), 2));
    --font-size-xl: calc(1rem * pow(var(--typescale), 3));
    --font-size-xxl: calc(1rem * pow(var(--typescale), 4));
    --font-size-display: calc(1rem * pow(var(--typescale), 6));
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --button-border-radius: 0;
    --base-font-size: var(--font-size-sm);
    --typescale: 1.25;
  }
  @media (min-width: 1140px) {
    :root {
      --base-font-size: 1rem;
      --typescale: 1.33;
    }
  }
  @view-transition {
    navigation: auto;
  }
  ::view-transition-old(root),
  ::view-transition-new(root) {
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
  }
  @media (prefers-reduced-motion: reduce) {
    ::view-transition-old(root),
    ::view-transition-new(root) {
      animation-duration: 0ms;
    }
  }
  html {
    font-size: var(--base-font-size);
  }
  body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family-body), sans-serif;
    line-height: 1.4;
  }
  h1, h2, h3 {
    line-height: 1.2;
  }
  h1, h2, h3, h4 {
    color: var(--theme-color);
  }
  h1 {
    font-size: var(--font-size-xl);
  }
  h1.is-style-accent {
    font-size: calc(1.25rem * var(--typescale) * var(--typescale) * var(--typescale));
  }
  h2 {
    font-size: var(--font-size-lg);
  }
  h2.is-style-accent {
    font-size: calc(1.25rem * var(--typescale) * var(--typescale));
  }
  h3 {
    font-size: var(--font-size-md);
  }
  h3.is-style-accent {
    font-size: calc(1.25rem * var(--typescale));
  }
  h1 {
    margin-block: var(--spacing-md);
  }
  @container layout-section (min-width: 940px) {
    h1 {
      margin-block: var(--spacing-lg);
    }
    h1:first-child {
      margin-block-start: 0;
    }
  }
  @container layout-section (min-width: var(--width-narrow)) {
    h1 {
      margin-block: var(--spacing-lg);
    }
    h1:first-child {
      margin-block-start: 0;
    }
  }
  h2, h3 {
    margin-block: var(--spacing-md);
  }
  h2:first-child, h3:first-child {
    margin-block-start: 0;
  }
  .separator + h2 {
    margin-block-start: 0;
  }
  p, ul, ol {
    margin-block: var(--spacing-sm);
  }
  p:first-child, ul:first-child, ol:first-child {
    margin-block-start: 0;
  }
  p:last-child, ul:last-child, ol:last-child {
    margin-block-end: 0;
  }
  ul, ol {
    margin-inline-start: var(--spacing-md);
    padding: 0;
  }
  ul li, ol li {
    margin-block-end: var(--spacing-xxs);
  }
  a:not(.button),
  a:not([class$=__button]) {
    color: inherit;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: currentColor;
    text-decoration-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  a:not(.button):hover, a:not(.button):focus, a:not(.button):active,
  a:not([class$=__button]):hover,
  a:not([class$=__button]):focus,
  a:not([class$=__button]):active {
    text-decoration-color: currentColor;
  }
  a:not(.button):has(> span),
  a:not([class$=__button]):has(> span) {
    text-decoration: none;
  }
  a:not(.button):has(> span) > span:not(:has(svg)):not(:has(i)),
  a:not([class$=__button]):has(> span) > span:not(:has(svg)):not(:has(i)) {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: currentColor;
    transition: all 0.3s ease;
    text-decoration-color: transparent;
  }
  a:not(.button):has(> span):hover > span:not(:has(svg)):not(:has(i)), a:not(.button):has(> span):focus > span:not(:has(svg)):not(:has(i)), a:not(.button):has(> span):active > span:not(:has(svg)):not(:has(i)),
  a:not([class$=__button]):has(> span):hover > span:not(:has(svg)):not(:has(i)),
  a:not([class$=__button]):has(> span):focus > span:not(:has(svg)):not(:has(i)),
  a:not([class$=__button]):has(> span):active > span:not(:has(svg)):not(:has(i)) {
    text-decoration-color: currentColor;
  }
  a:not(.button),
  a:not([class$=__button]) {
    text-decoration-color: currentColor;
  }
  a:not(.button):hover, a:not(.button):focus, a:not(.button):active,
  a:not([class$=__button]):hover,
  a:not([class$=__button]):focus,
  a:not([class$=__button]):active {
    color: var(--theme-color);
  }
  small {
    font-size: var(--font-size-xs);
  }
  .is-style-accent {
    font-family: var(--font-family-accent);
    font-weight: normal;
    line-height: 1;
  }
  h1.is-style-small, h2.is-style-small, h3.is-style-small {
    font-size: 1rem;
    text-transform: uppercase;
  }
  p:empty {
    display: none;
  }
  .is-style-lead,
  .lead {
    font-weight: var(--font-weight-bold);
    font-size: calc(1rem * var(--typescale));
    line-height: 1.2;
    color: var(--theme-color);
  }
  .is-style-lead a,
  .lead a {
    color: inherit;
  }
  .is-style-lead a:hover, .is-style-lead a:focus, .is-style-lead a:active,
  .lead a:hover,
  .lead a:focus,
  .lead a:active {
    color: color-mix(in hsl, currentColor, black 20%);
  }
  blockquote {
    text-align: center;
    padding: var(--spacing-md);
    margin-block: var(--spacing-lg);
    font-weight: var(--font-weight-semibold);
    font-size: 1.125rem;
    color: var(--theme-color);
  }
  blockquote:last-child {
    margin-block-end: 0;
  }
  blockquote:only-child {
    padding-block: 0;
  }
  blockquote > p {
    padding-block: var(--spacing-sm);
  }
  form input[type=text],
  form input[type=email],
  form input[type=password],
  form input[type=search],
  form input[type=tel],
  form input[type=url],
  form input[type=number],
  form select,
  form textarea {
    font-size: 1rem;
    padding: var(--spacing-xs) var(--spacing-sm);
    font-family: var(--font-family-body);
    border: 1px solid color-mix(in srgb, var(--color-dark) 50%, white);
    transition: all 0.2s ease-in-out;
    background: var(--color-white);
  }
  form input[type=text]:focus,
  form input[type=email]:focus,
  form input[type=password]:focus,
  form input[type=search]:focus,
  form input[type=tel]:focus,
  form input[type=url]:focus,
  form input[type=number]:focus,
  form select:focus,
  form textarea:focus {
    border-color: var(--color-secondary);
  }
  form input[type=text],
  form input[type=email],
  form input[type=password],
  form input[type=search],
  form input[type=tel],
  form input[type=url],
  form input[type=number],
  form select {
    min-height: 2.5rem;
    display: flex;
    align-items: center;
    align-content: center;
  }
  form input[type=checkbox],
  form input[type=radio] {
    accent-color: var(--color-secondary);
  }
  form select {
    cursor: pointer;
  }
  figure figcaption {
    font-size: var(--font-size-sm);
  }
  .inline-message {
    color: var(--theme-color);
  }
  [data-aspect-ratio=square] {
    aspect-ratio: 1/1;
  }
  [data-aspect-ratio=standard] {
    aspect-ratio: 4/3;
  }
  [data-aspect-ratio=portrait] {
    aspect-ratio: 3/4;
  }
  [data-aspect-ratio=wide] {
    aspect-ratio: 16/9;
  }
  [data-aspect-ratio=classic] {
    aspect-ratio: 3/2;
  }
  [data-aspect-ratio=classic_portrait] {
    aspect-ratio: 2/3;
  }
  [data-aspect-ratio=cinematic] {
    aspect-ratio: 21/9;
  }
  [data-aspect-ratio=cinemascope] {
    aspect-ratio: 2.35/1;
  }
}

/*# sourceMappingURL=common.css.map */
