/**
 * Global CSS that gets used in standalone packages as well as entirely Comet-based projects.
 * Use common.scss for styles that should not be packaged with standalone components.
 */
@layer comet-components-global {
  :root {
    --width-wide: 1440px;
    --width-contained: 1140px;
    --width-narrow: 940px;
    --width-narrower: 768px;
    --width-small: 600px;
    --spacing-xxs: 0.25rem;
    /* Augmented fourth scale - 1.414 */
    --spacing-xs: 0.5rem;
    --spacing-sm: 0.707rem;
    --spacing-md: 1rem;
    --spacing-lg: 1.414rem;
    --spacing-xl: 2rem;
    --spacing-xxl: 2.827rem;
  }
  [data-size] {
    width: 100%;
    container-name: layout-section;
    container-type: inline-size;
    padding-inline: calc((100cqw - var(--container-max-width)) / 2);
    border-inline: var(--spacing-md) solid transparent;
    box-sizing: border-box;
  }
  [data-size] > * {
    width: 100%;
  }
  [data-size=wide] {
    --container-max-width: 1440px;
  }
  [data-size=contained] {
    --container-max-width: 1140px;
  }
  [data-size=narrow] {
    --container-max-width: 940px;
  }
  [data-size=narrower] {
    --container-max-width: 768px;
  }
  [data-size=small] {
    --container-max-width: 600px;
  }
  [data-size=full] {
    --container-max-width: 100%;
  }
  header, section, main {
    padding-block: var(--spacing-lg);
  }
  @media (min-width: 768px) {
    header, section, main {
      padding-block: var(--spacing-xl);
    }
  }
  @media (min-width: 1440px) {
    header, section, main {
      padding-block: var(--spacing-xxl);
    }
  }
  [data-valign],
  [data-halign] {
    display: flex;
    flex-wrap: wrap;
  }
  [data-valign=start] {
    align-items: flex-start;
  }
  [data-valign=center] {
    align-items: center;
  }
  [data-valign=end] {
    align-items: flex-end;
  }
  [data-valign=match-parent] {
    align-items: inherit;
  }
  [data-halign=start] {
    justify-content: flex-start;
  }
  [data-halign=center] {
    justify-content: center;
  }
  [data-halign=end] {
    justify-content: flex-end;
  }
  [data-halign=justify] {
    justify-content: space-between;
  }
  [data-halign=match-parent] {
    justify-content: inherit;
  }
  [data-orientation=horizontal] {
    display: flex;
    flex-direction: row;
  }
  [data-orientation=vertical] {
    display: flex;
    flex-direction: column;
  }
  [data-group-layout=list] {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
  }
  [data-group-layout=grid] {
    width: 100%;
    display: grid;
    gap: var(--spacing-md);
    container-type: inline-size;
    grid-template-columns: 1fr;
  }
  [data-group-layout=grid][data-max-per-row] {
    justify-content: inherit;
  }
  [data-group-layout=grid][data-max-per-row="2"]:has(> :nth-child(2)), [data-group-layout=grid][data-max-per-row="4"]:has(> :nth-child(2)) {
    grid-template-columns: repeat(2, 1fr);
  }
  @container layout-section (min-width: var(--width-narrower)) {
    [data-group-layout=grid][data-max-per-row="4"] {
      grid-template-columns: repeat(auto-fit, 25%);
    }
    [data-group-layout=grid][data-max-per-row="4"]:has(> :nth-child(4)) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  @container layout-section (min-width: var(--width-small)) {
    [data-group-layout=grid][data-max-per-row="3"], [data-group-layout=grid][data-max-per-row="5"], [data-group-layout=grid][data-max-per-row="6"] {
      grid-template-columns: repeat(auto-fit, 33%);
    }
    [data-group-layout=grid][data-max-per-row="3"]:has(> :nth-child(3)), [data-group-layout=grid][data-max-per-row="5"]:has(> :nth-child(3)), [data-group-layout=grid][data-max-per-row="6"]:has(> :nth-child(3)) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @container layout-section (min-width: var(--width-narrower)) {
    [data-group-layout=grid][data-max-per-row="5"] {
      grid-template-columns: repeat(auto-fit, 20%);
    }
    [data-group-layout=grid][data-max-per-row="5"]:has(> :nth-child(5)) {
      grid-template-columns: repeat(5, 1fr);
    }
  }
  @container layout-section (min-width: var(--width-narrower)) {
    [data-group-layout=grid][data-max-per-row="6"] {
      grid-template-columns: repeat(auto-fit, 16.66%);
    }
    [data-group-layout=grid][data-max-per-row="6"]:has(> :nth-child(6)) {
      grid-template-columns: repeat(6, 1fr);
    }
  }
  /*-------------------------------------------------------------------
    Colour theming defaults
    Note: Application of text colours for the data-color-theme attribute is not handled here
    - it is expected to be applied to particular common elements (e.g., lead paragraph)
    and/or within components where appropriate using the --theme-color variable set here
  ------------------------------------------------------------------ */
  [data-background] {
    background: var(--background-color);
    --theme-color: contrast-color(var(--background-color));
    color: contrast-color(var(--background-color));
  }
  [data-background] > [data-background],
  [data-background] > [data-vue-component]:has(> [data-background]) > [data-background] {
    padding: var(--spacing-md);
  }
  [data-color-theme] {
    --theme-color-inverse: contrast-color(var(--theme-color));
  }
  body[data-global-background=primary] {
    background-color: var(--color-primary);
    --theme-color: contrast-color(var(--color-primary));
  }
  [data-background=primary] {
    --background-color: var(--color-primary);
    --active-color: var(--color-secondary);
  }
  [data-background=primary] > [data-background=primary] {
    padding: 0;
  }
  [data-background=primary] + [data-background=primary],
  [data-background$=primary] + [data-background^=primary] {
    padding-block-start: 0;
  }
  @container body style(--global-background: $colorName) {
    main > *:not([data-background]) + [data-background=primary], main > *:not([data-background]) + [data-background^=primary] {
      padding-block-start: 0;
    }
  }
  body[data-global-background=secondary] {
    background-color: var(--color-secondary);
    --theme-color: contrast-color(var(--color-secondary));
  }
  [data-background=secondary] {
    --background-color: var(--color-secondary);
    --active-color: var(--color-secondary);
  }
  [data-background=secondary] > [data-background=secondary] {
    padding: 0;
  }
  [data-background=secondary] + [data-background=secondary],
  [data-background$=secondary] + [data-background^=secondary] {
    padding-block-start: 0;
  }
  @container body style(--global-background: $colorName) {
    main > *:not([data-background]) + [data-background=secondary], main > *:not([data-background]) + [data-background^=secondary] {
      padding-block-start: 0;
    }
  }
  body[data-global-background=accent] {
    background-color: var(--color-accent);
    --theme-color: contrast-color(var(--color-accent));
  }
  [data-background=accent] {
    --background-color: var(--color-accent);
    --active-color: var(--color-secondary);
  }
  [data-background=accent] > [data-background=accent] {
    padding: 0;
  }
  [data-background=accent] + [data-background=accent],
  [data-background$=accent] + [data-background^=accent] {
    padding-block-start: 0;
  }
  @container body style(--global-background: $colorName) {
    main > *:not([data-background]) + [data-background=accent], main > *:not([data-background]) + [data-background^=accent] {
      padding-block-start: 0;
    }
  }
  body[data-global-background=info] {
    background-color: var(--color-info);
    --theme-color: contrast-color(var(--color-info));
  }
  [data-background=info] {
    --background-color: var(--color-info);
    --active-color: var(--color-secondary);
  }
  [data-background=info] > [data-background=info] {
    padding: 0;
  }
  [data-background=info] + [data-background=info],
  [data-background$=info] + [data-background^=info] {
    padding-block-start: 0;
  }
  @container body style(--global-background: $colorName) {
    main > *:not([data-background]) + [data-background=info], main > *:not([data-background]) + [data-background^=info] {
      padding-block-start: 0;
    }
  }
  body[data-global-background=warning] {
    background-color: var(--color-warning);
    --theme-color: contrast-color(var(--color-warning));
  }
  [data-background=warning] {
    --background-color: var(--color-warning);
    --active-color: var(--color-secondary);
  }
  [data-background=warning] > [data-background=warning] {
    padding: 0;
  }
  [data-background=warning] + [data-background=warning],
  [data-background$=warning] + [data-background^=warning] {
    padding-block-start: 0;
  }
  @container body style(--global-background: $colorName) {
    main > *:not([data-background]) + [data-background=warning], main > *:not([data-background]) + [data-background^=warning] {
      padding-block-start: 0;
    }
  }
  body[data-global-background=success] {
    background-color: var(--color-success);
    --theme-color: contrast-color(var(--color-success));
  }
  [data-background=success] {
    --background-color: var(--color-success);
    --active-color: var(--color-secondary);
  }
  [data-background=success] > [data-background=success] {
    padding: 0;
  }
  [data-background=success] + [data-background=success],
  [data-background$=success] + [data-background^=success] {
    padding-block-start: 0;
  }
  @container body style(--global-background: $colorName) {
    main > *:not([data-background]) + [data-background=success], main > *:not([data-background]) + [data-background^=success] {
      padding-block-start: 0;
    }
  }
  body[data-global-background=error] {
    background-color: var(--color-error);
    --theme-color: contrast-color(var(--color-error));
  }
  [data-background=error] {
    --background-color: var(--color-error);
    --active-color: var(--color-secondary);
  }
  [data-background=error] > [data-background=error] {
    padding: 0;
  }
  [data-background=error] + [data-background=error],
  [data-background$=error] + [data-background^=error] {
    padding-block-start: 0;
  }
  @container body style(--global-background: $colorName) {
    main > *:not([data-background]) + [data-background=error], main > *:not([data-background]) + [data-background^=error] {
      padding-block-start: 0;
    }
  }
  body[data-global-background=light] {
    background-color: var(--color-light);
    --theme-color: contrast-color(var(--color-light));
  }
  [data-background=light] {
    --background-color: var(--color-light);
    --active-color: var(--color-secondary);
  }
  [data-background=light] > [data-background=light] {
    padding: 0;
  }
  [data-background=light] + [data-background=light],
  [data-background$=light] + [data-background^=light] {
    padding-block-start: 0;
  }
  @container body style(--global-background: $colorName) {
    main > *:not([data-background]) + [data-background=light], main > *:not([data-background]) + [data-background^=light] {
      padding-block-start: 0;
    }
  }
  body[data-global-background=dark] {
    background-color: var(--color-dark);
    --theme-color: contrast-color(var(--color-dark));
  }
  [data-background=dark] {
    --background-color: var(--color-dark);
    --active-color: var(--color-secondary);
  }
  [data-background=dark] > [data-background=dark] {
    padding: 0;
  }
  [data-background=dark] + [data-background=dark],
  [data-background$=dark] + [data-background^=dark] {
    padding-block-start: 0;
  }
  @container body style(--global-background: $colorName) {
    main > *:not([data-background]) + [data-background=dark], main > *:not([data-background]) + [data-background^=dark] {
      padding-block-start: 0;
    }
  }
  body[data-global-background=white] {
    background-color: var(--color-white);
    --theme-color: contrast-color(var(--color-white));
  }
  [data-background=white] {
    --background-color: var(--color-white);
    --active-color: var(--color-secondary);
  }
  [data-background=white] > [data-background=white] {
    padding: 0;
  }
  [data-background=white] + [data-background=white],
  [data-background$=white] + [data-background^=white] {
    padding-block-start: 0;
  }
  @container body style(--global-background: $colorName) {
    main > *:not([data-background]) + [data-background=white], main > *:not([data-background]) + [data-background^=white] {
      padding-block-start: 0;
    }
  }
  body > header:not([data-background]) + :not([data-background]),
  main > *:not([data-background]) + :not([data-background]),
  body > footer:not([data-background]) + :not([data-background]) {
    padding-block-start: 0;
  }
  [data-color-theme=primary] {
    --theme-color: var(--color-primary);
  }
  [data-color-theme=secondary] {
    --theme-color: var(--color-secondary);
  }
  [data-color-theme=accent] {
    --theme-color: var(--color-accent);
  }
  [data-color-theme=info] {
    --theme-color: var(--color-info);
  }
  [data-color-theme=warning] {
    --theme-color: var(--color-warning);
  }
  [data-color-theme=success] {
    --theme-color: var(--color-success);
  }
  [data-color-theme=error] {
    --theme-color: var(--color-error);
  }
  [data-color-theme=light] {
    --theme-color: var(--color-light);
  }
  [data-color-theme=dark] {
    --theme-color: var(--color-dark);
  }
  [data-color-theme=white] {
    --theme-color: var(--color-white);
  }
  [data-background=primary-secondary] {
    --background-color: var(--gradient-primary-secondary);
  }
  [data-background=primary-accent] {
    --background-color: var(--gradient-primary-accent);
  }
  [data-background=primary-info] {
    --background-color: var(--gradient-primary-info);
  }
  [data-background=primary-warning] {
    --background-color: var(--gradient-primary-warning);
  }
  [data-background=primary-success] {
    --background-color: var(--gradient-primary-success);
  }
  [data-background=primary-error] {
    --background-color: var(--gradient-primary-error);
  }
  [data-background=primary-light] {
    --background-color: var(--gradient-primary-light);
  }
  [data-background=primary-dark] {
    --background-color: var(--gradient-primary-dark);
  }
  [data-background=primary-white] {
    --background-color: var(--gradient-primary-white);
  }
  [data-background=secondary-primary] {
    --background-color: var(--gradient-secondary-primary);
  }
  [data-background=secondary-accent] {
    --background-color: var(--gradient-secondary-accent);
  }
  [data-background=secondary-info] {
    --background-color: var(--gradient-secondary-info);
  }
  [data-background=secondary-warning] {
    --background-color: var(--gradient-secondary-warning);
  }
  [data-background=secondary-success] {
    --background-color: var(--gradient-secondary-success);
  }
  [data-background=secondary-error] {
    --background-color: var(--gradient-secondary-error);
  }
  [data-background=secondary-light] {
    --background-color: var(--gradient-secondary-light);
  }
  [data-background=secondary-dark] {
    --background-color: var(--gradient-secondary-dark);
  }
  [data-background=secondary-white] {
    --background-color: var(--gradient-secondary-white);
  }
  [data-background=accent-primary] {
    --background-color: var(--gradient-accent-primary);
  }
  [data-background=accent-secondary] {
    --background-color: var(--gradient-accent-secondary);
  }
  [data-background=accent-info] {
    --background-color: var(--gradient-accent-info);
  }
  [data-background=accent-warning] {
    --background-color: var(--gradient-accent-warning);
  }
  [data-background=accent-success] {
    --background-color: var(--gradient-accent-success);
  }
  [data-background=accent-error] {
    --background-color: var(--gradient-accent-error);
  }
  [data-background=accent-light] {
    --background-color: var(--gradient-accent-light);
  }
  [data-background=accent-dark] {
    --background-color: var(--gradient-accent-dark);
  }
  [data-background=accent-white] {
    --background-color: var(--gradient-accent-white);
  }
  [data-background=info-primary] {
    --background-color: var(--gradient-info-primary);
  }
  [data-background=info-secondary] {
    --background-color: var(--gradient-info-secondary);
  }
  [data-background=info-accent] {
    --background-color: var(--gradient-info-accent);
  }
  [data-background=info-warning] {
    --background-color: var(--gradient-info-warning);
  }
  [data-background=info-success] {
    --background-color: var(--gradient-info-success);
  }
  [data-background=info-error] {
    --background-color: var(--gradient-info-error);
  }
  [data-background=info-light] {
    --background-color: var(--gradient-info-light);
  }
  [data-background=info-dark] {
    --background-color: var(--gradient-info-dark);
  }
  [data-background=info-white] {
    --background-color: var(--gradient-info-white);
  }
  [data-background=warning-primary] {
    --background-color: var(--gradient-warning-primary);
  }
  [data-background=warning-secondary] {
    --background-color: var(--gradient-warning-secondary);
  }
  [data-background=warning-accent] {
    --background-color: var(--gradient-warning-accent);
  }
  [data-background=warning-info] {
    --background-color: var(--gradient-warning-info);
  }
  [data-background=warning-success] {
    --background-color: var(--gradient-warning-success);
  }
  [data-background=warning-error] {
    --background-color: var(--gradient-warning-error);
  }
  [data-background=warning-light] {
    --background-color: var(--gradient-warning-light);
  }
  [data-background=warning-dark] {
    --background-color: var(--gradient-warning-dark);
  }
  [data-background=warning-white] {
    --background-color: var(--gradient-warning-white);
  }
  [data-background=success-primary] {
    --background-color: var(--gradient-success-primary);
  }
  [data-background=success-secondary] {
    --background-color: var(--gradient-success-secondary);
  }
  [data-background=success-accent] {
    --background-color: var(--gradient-success-accent);
  }
  [data-background=success-info] {
    --background-color: var(--gradient-success-info);
  }
  [data-background=success-warning] {
    --background-color: var(--gradient-success-warning);
  }
  [data-background=success-error] {
    --background-color: var(--gradient-success-error);
  }
  [data-background=success-light] {
    --background-color: var(--gradient-success-light);
  }
  [data-background=success-dark] {
    --background-color: var(--gradient-success-dark);
  }
  [data-background=success-white] {
    --background-color: var(--gradient-success-white);
  }
  [data-background=error-primary] {
    --background-color: var(--gradient-error-primary);
  }
  [data-background=error-secondary] {
    --background-color: var(--gradient-error-secondary);
  }
  [data-background=error-accent] {
    --background-color: var(--gradient-error-accent);
  }
  [data-background=error-info] {
    --background-color: var(--gradient-error-info);
  }
  [data-background=error-warning] {
    --background-color: var(--gradient-error-warning);
  }
  [data-background=error-success] {
    --background-color: var(--gradient-error-success);
  }
  [data-background=error-light] {
    --background-color: var(--gradient-error-light);
  }
  [data-background=error-dark] {
    --background-color: var(--gradient-error-dark);
  }
  [data-background=error-white] {
    --background-color: var(--gradient-error-white);
  }
  [data-background=light-primary] {
    --background-color: var(--gradient-light-primary);
  }
  [data-background=light-secondary] {
    --background-color: var(--gradient-light-secondary);
  }
  [data-background=light-accent] {
    --background-color: var(--gradient-light-accent);
  }
  [data-background=light-info] {
    --background-color: var(--gradient-light-info);
  }
  [data-background=light-warning] {
    --background-color: var(--gradient-light-warning);
  }
  [data-background=light-success] {
    --background-color: var(--gradient-light-success);
  }
  [data-background=light-error] {
    --background-color: var(--gradient-light-error);
  }
  [data-background=light-dark] {
    --background-color: var(--gradient-light-dark);
  }
  [data-background=light-white] {
    --background-color: var(--gradient-light-white);
  }
  [data-background=dark-primary] {
    --background-color: var(--gradient-dark-primary);
  }
  [data-background=dark-secondary] {
    --background-color: var(--gradient-dark-secondary);
  }
  [data-background=dark-accent] {
    --background-color: var(--gradient-dark-accent);
  }
  [data-background=dark-info] {
    --background-color: var(--gradient-dark-info);
  }
  [data-background=dark-warning] {
    --background-color: var(--gradient-dark-warning);
  }
  [data-background=dark-success] {
    --background-color: var(--gradient-dark-success);
  }
  [data-background=dark-error] {
    --background-color: var(--gradient-dark-error);
  }
  [data-background=dark-light] {
    --background-color: var(--gradient-dark-light);
  }
  [data-background=dark-white] {
    --background-color: var(--gradient-dark-white);
  }
  [data-background=white-primary] {
    --background-color: var(--gradient-white-primary);
  }
  [data-background=white-secondary] {
    --background-color: var(--gradient-white-secondary);
  }
  [data-background=white-accent] {
    --background-color: var(--gradient-white-accent);
  }
  [data-background=white-info] {
    --background-color: var(--gradient-white-info);
  }
  [data-background=white-warning] {
    --background-color: var(--gradient-white-warning);
  }
  [data-background=white-success] {
    --background-color: var(--gradient-white-success);
  }
  [data-background=white-error] {
    --background-color: var(--gradient-white-error);
  }
  [data-background=white-light] {
    --background-color: var(--gradient-white-light);
  }
  [data-background=white-dark] {
    --background-color: var(--gradient-white-dark);
  }
}

/*# sourceMappingURL=global.css.map */
