:root {
  --font-family-body: sans-serif;
  --font-family-accent: sans-serif;
  --color-primary: #845ec2;
  --color-secondary: #00c9a7;
  --color-accent: #ba3caf;
  --color-warning: #f9c971;
  --color-error: #d23e3e;
  --color-light: #F0F0F2;
  --color-dark: #4b4453;
  --color-white: #ffffff;
  --color-primary-h: 262.8;
  --color-primary-s: 45.045045045;
  --color-primary-l: 56.4705882353;
  --color-secondary-h: 169.8507462687;
  --color-secondary-s: 100;
  --color-secondary-l: 39.4117647059;
  --color-accent-h: 305.2380952381;
  --color-accent-s: 51.2195121951;
  --color-accent-l: 48.2352941176;
  --color-warning-h: 38.8235294118;
  --color-warning-s: 91.8918918919;
  --color-warning-l: 70.9803921569;
  --color-error-h: 0;
  --color-error-s: 62.1848739496;
  --color-error-l: 53.3333333333;
  --color-light-h: 240;
  --color-light-s: 7.1428571429;
  --color-light-l: 94.5098039216;
  --color-dark-h: 268;
  --color-dark-s: 9.9337748344;
  --color-dark-l: 29.6078431373;
  --color-white-h: 0;
  --color-white-s: 0;
  --color-white-l: 100;
  --readable-color-primary: white;
  --readable-color-secondary: white;
  --readable-color-accent: white;
  --readable-color-warning: black;
  --readable-color-error: white;
  --readable-color-light: black;
  --readable-color-dark: white;
  --readable-color-white: black;
  --width-wide: 1440px;
  --width-contained: 1140px;
  --width-narrow: 940px;
  --spacing-xxs: 0.25rem;
  /* Augmented fourth scale - 1.414 */
  --spacing-xs: 0.5rem;
  --spacing-sm: 0.707rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.414rem;
  --spacing-xl: 1.999rem;
  --spacing-xxl: 2.827rem;
  --font-size-sm: 0.875rem;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --button-border-radius: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-body), sans-serif;
  line-height: 1.4;
}

.bg-primary {
  background-color: var(--color-primary);
  color: var(--readable-color-primary);
}

.color-primary {
  color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
  color: var(--readable-color-secondary);
}

.color-secondary {
  color: var(--color-secondary);
}

.bg-accent {
  background-color: var(--color-accent);
  color: var(--readable-color-accent);
}

.color-accent {
  color: var(--color-accent);
}

.bg-warning {
  background-color: var(--color-warning);
  color: var(--readable-color-warning);
}

.color-warning {
  color: var(--color-warning);
}

.bg-error {
  background-color: var(--color-error);
  color: var(--readable-color-error);
}

.color-error {
  color: var(--color-error);
}

.bg-light {
  background-color: var(--color-light);
  color: var(--readable-color-light);
}

.color-light {
  color: var(--color-light);
}

.bg-dark {
  background-color: var(--color-dark);
  color: var(--readable-color-dark);
}

.color-dark {
  color: var(--color-dark);
}

.bg-white {
  background-color: var(--color-white);
  color: var(--readable-color-white);
}

.color-white {
  color: var(--color-white);
}

h3 {
  font-size: 1.414rem;
  line-height: 1.2;
}
h3.is-style-accent {
  font-size: 1.7675rem;
}

h2 {
  font-size: 1.999396rem;
  line-height: 1.2;
}
h2.is-style-accent {
  font-size: 2.499245rem;
}

h1 {
  font-size: 2.827145944rem;
  line-height: 1.2;
}
h1.is-style-accent {
  font-size: 3.53393243rem;
}

h1 {
  margin-block: var(--spacing-lg);
}
h1:first-child {
  margin-block-start: 0;
}

h2, h3 {
  margin-block: var(--spacing-md);
}
h2:first-child, h3:first-child {
  margin-block-start: 0;
}

p, ul, ol {
  margin-block: var(--spacing-sm);
}
p:first-child, ul:first-child, ol:first-child {
  margin-block-start: 0;
}
p:last-child, ul:last-child, ol:last-child {
  margin-block-end: 0;
}

a {
  transition: all 0.2s ease-in-out;
  color: inherit;
}

.is-style-accent {
  font-family: var(--font-family-accent);
  font-weight: normal;
  line-height: 1;
}

h1.is-style-small, h2.is-style-small, h3.is-style-small {
  font-size: 1rem;
  text-transform: uppercase;
}

.is-style-lead {
  font-weight: 600;
  font-size: 1.125rem;
}

/*# sourceMappingURL=global.css.map */
