@use 'variables' as *;
@use 'mixins' as *;
@use 'functions' as func;

/**
 * Global CSS that gets used in standalone packages as well as entirely Comet-based projects.
 * Use common.scss for styles that should not be packaged with standalone components.
 */
@layer comet-components-global {
	:root {
		--width-wide: #{map-get($widths, 'wide')};
		--width-contained: #{map-get($widths, 'contained')};
		--width-narrow: #{map-get($widths, 'narrow')};
		--width-small: #{map-get($widths, 'small')};

		--spacing-xxs: 0.25rem;
		/* Augmented fourth scale - 1.414 */
		--spacing-xs: 0.5rem;
		--spacing-sm: 0.707rem;
		--spacing-md: 1rem;
		--spacing-lg: 1.414rem;
		--spacing-xl: 2rem;
		--spacing-xxl: 2.827rem;
	}

	[data-valign],
	[data-halign] {
		display: flex;
		flex-wrap: wrap;
	}

	// Default alignments. Note that components can override with their own stuff that they do with these values,
	// for example orientation for Tabs is about where the tablist is.
	[data-valign="start"] {
		align-items: flex-start;
	}

	[data-valign="center"] {
		align-items: center;
	}

	[data-valign="end"] {
		align-items: flex-end;
	}

	[data-valign="match-parent"] {
		align-items: inherit;
	}

	[data-halign="start"] {
		justify-content: flex-start;
	}

	[data-halign="center"] {
		justify-content: center;
	}

	[data-halign="end"] {
		justify-content: flex-end;
	}

	[data-halign="justify"] {
		justify-content: space-between;
	}

	[data-halign="match-parent"] {
		justify-content: inherit;
	}

	[data-orientation="horizontal"] {
		display: flex;
		flex-direction: row;
	}

	[data-orientation="vertical"] {
		display: flex;
		flex-direction: column;
	}

	[data-group-layout="list"] {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	[data-group-layout="grid"] {
		width: 100%;
		display: grid;
		gap: var(--spacing-md);
		container-type: inline-size;
		grid-template-columns: 1fr;

		&[data-max-per-row] {
			// Align according to parent's hAlign if applicable,
			// if the items don't take up the full space (e.g., 3 items sized for 4 per row)
			justify-content: inherit;
		}

		&[data-max-per-row="2"], &[data-max-per-row="4"] {
			// Only go to 2 columns if there are 2 or more items
			&:has(> :nth-child(2)) {
				grid-template-columns: repeat(2, 1fr);
			}
		}

		&[data-max-per-row="4"] {
			@include container-width-up('narrower') {
				grid-template-columns: repeat(auto-fit, 25%); // this ensures alignment works correctly when there's fewer

				// Only go to 4 column grid if there are actually 4 or more items
				&:has(> :nth-child(4)) {
					grid-template-columns: repeat(4, 1fr);
				}
			}
		}

		&[data-max-per-row="3"], &[data-max-per-row="5"], &[data-max-per-row="6"] {
			@include container-width-up('small') {
				grid-template-columns: repeat(auto-fit, 33%); // this ensures alignment works correctly when there's fewer

				// Only go to 4 column grid if there are actually 3 or more items
				&:has(> :nth-child(3)) {
					grid-template-columns: repeat(3, 1fr);
				}
			}
		}

		&[data-max-per-row="5"] {
			@include container-width-up('narrower') {
				grid-template-columns: repeat(auto-fit, 20%); // this ensures alignment works correctly when there's fewer

				// Only go to 5 column grid if there are actually 5 or more items
				&:has(> :nth-child(5)) {
					grid-template-columns: repeat(5, 1fr);
				}
			}
		}

		&[data-max-per-row="6"] {
			@include container-width-up('narrower') {
				grid-template-columns: repeat(auto-fit, 16.66%); // this ensures alignment works correctly when there's fewer

				// Only go to 6 column grid if there are actually 6 or more items
				&:has(> :nth-child(6)) {
					grid-template-columns: repeat(6, 1fr);
				}
			}
		}
	}


	// Basic theme styling for elements with a color theme and/or background attribute specified
	@each $name, $color in $colors {
		[data-background="#{$name}"] {
			--background-color: var(--color-#{$name});
			--theme-color: var(--readable-color-#{$name});
			--active-color: var(--color-secondary); // can be contextually changed where this default doesn't suit
			background: var(--background-color);
			color: var(--theme-color);
		}
		[data-color-theme="#{$name}"] {
			--theme-color: var(--color-#{$name});
			--theme-color-inverse: var(--readable-color-#{$name});
		}
	}

	// Basic theme styling for elements with a background colour attribute specified
	@each $name, $color in $colors {
		body[data-global-background="#{$name}"] {
			background-color: var(--color-#{$name});
			color: var(--readable-color-#{$name});
		}

		[data-color-theme="#{$name}"] {
			[data-background=#{$name}] & {
				color: inherit;
			}
		}

		[data-background="#{$name}"] {
			color: var(--readable-color-#{$name});
		}
	}

	// Default 50/50 gradients
	@each $color in map-keys($colors) {
		@each $color2 in map-keys($colors) {
			@if ($color != $color2) {
				[data-background="#{$color}-#{$color2}"] {
					background: var(--gradient-#{$color}-#{$color2});
				}
			}
		}
	}
}
