@use '../mixins' as *;
@use '../bem-mixin' as *;

@include bem-block('button-group') {
	display: flex;
	gap: var(--spacing-sm);
	padding-block: var(--spacing-sm);

	&:last-child {
		padding-block-end: 0;
	}

	&[data-halign] {
		width: 100%;
	}
}
