@use '../../mixins' as *;

.column {
	min-width: 0; // prevents overflowing content from widening the column in grid layouts
	display: flex;

	&__inner {
		display: flow-root;
		width: 100%;

		> .container {
			padding-inline: 0;
		}
	}
}
