@use '../mixins' as *;
@use '../variables' as *;

// Using .body class allows us to apply this root context style to things other than the page body,
// for example CMS editor contexts where the "body" of the content we want to target is many levels down the DOM.
.body {
	> header,
	> footer,
	> section,
	> article,
	> div {
		@include section-padding();
	}

	> main {
		> section,
		> header,
		> footer,
		> article,
		> div {
			@include section-padding();
		}
	}
}

// Adjacent section overrides to not double up on padding when backgrounds are the same
@each $name, $color in $colors {
	.body > [data-background="#{$name}"]:not(hr) + [data-background="#{$name}"],
	.body > main > [data-background="#{$name}"]:not(hr) + [data-background="#{$name}"] {
		padding-block-start: 0;
	}

	.body > :not([data-background]) + > :not([data-background]) {
		padding-block-start: 0;
	}
}

.body > :not([data-background]):not(hr) + :not([data-background]),
.body > main > :not([data-background]):not(hr) + :not([data-background]) {
	padding-block-start: 0;
}

body {
	@extend .body;
}
