@use '../variables' as *;
@use '../functions' as *;
@use '../bem-mixin' as *;

@include bem-block('icon-with-text', ('icon', 'content')) {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	gap: var(--spacing-sm);
	padding-block: var(--spacing-xs);

	&__icon {
		width: 2rem;
		min-width: 2rem;
		flex-basis: 2rem;
		overflow-x: hidden;
		color: var(--theme-color);

		i, svg {
			font-size: 2rem;
		}
	}

	&__content {
		flex-grow: 1;
		flex-basis: auto;

		p {
			color: var(--color-dark);
			line-height: 1.2;

			span {
				display: block;

				&:first-child {
					font-size: var(--font-size-sm);
					color: lighten('dark', 20%);
				}
			}
		}
	}
}
