.image-and-text {
	display: flex;
	flex-direction: column;

	&__image,
	&__content {
		display: flex;
	}

	&__image {

		img {
			max-width: 100%;
		}
	}

	&__content {
		position: relative;
		z-index: 200;

		&:nth-of-type(1) {
			margin-block-end: var(--overlay-amount);
		}

		&:nth-of-type(2) {
			margin-block-start: var(--overlay-amount);
		}
	}
}
