@use '../mixins' as *;

.image-and-text {
	display: flex;
	flex-direction: column;

	&__image,
	&__content {
		display: flex;
	}

	&__image {

		&__inner {
			@include container-width-down('narrower') {
				max-width: 100% !important;
				flex-basis: 100% !important;
			}
		}

		img {
			max-width: 100%;
		}
	}

	&__content {
		position: relative;
		z-index: 200;

		&__inner {
			@include container-width-down('narrower') {
				max-width: 100% !important;
				flex-basis: 100% !important;
			}
		}

		// When it's content is before image
		&:nth-of-type(1) {
			margin-block-end: var(--overlay-amount);
		}

		// When content is after image
		@include container-width-up('narrower') {
			&:nth-of-type(2) {
				margin-block-start: var(--overlay-amount);
			}
		}
	}
}
