@use '../variables' as *;
@use '../bem-mixin' as *;
@use '../mixins' as *;

@include bem-block('breadcrumbs', ('list')) {
	display: contents;

	&__list {
		display: flex;
		align-items: center;
		justify-content: inherit;
		gap: var(--spacing-xs);
		margin-block: var(--spacing-md);
		margin-inline: 0;
		padding: 0;
		list-style: none;

		&__item {
			display: flex;
			font-size: var(--font-size-sm);

			&__link {
				color: inherit;
				display: block;
				opacity: 0.75;
				@include link-underline-on-hover();

				&:hover, &:focus, &:active {
					opacity: 1;
					color: var(--theme-color);
					text-decoration-color: currentColor;
				}

				&[href="#"] {
					pointer-events: none;
				}
			}

			&::after {
				content: '/';
				padding-inline-start: var(--spacing-xs);
				opacity: 0.4;
			}


			&:has([aria-current="page"]) {
				opacity: 0.65;

				&:after {
					content: none;
				}
			}
		}
	}
}
