@use '../variables' as *;

.breadcrumbs {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: var(--spacing-xs);
	margin-block: var(--spacing-md);

	&__item {
		display: flex;
		font-size: 0.9rem;

		a {
			color: inherit;
			display: block;
			opacity: 0.75;
			text-decoration: none; // TODO: Animated hover underline

			&:hover, &:focus, &:active {
				opacity: 1;
			}
		}

		&:after {
			content: '/';
			padding-inline-start: var(--spacing-xs);
			opacity: 0.4;
		}
	}

	@each $name, $color in $colors {
		.bg-#{$name} & {
			color: var(--readable-color-#{$name});
		}
	}
}
