@use '../bem-class-selectors' as *;

.image--basic,
#{class-contains('image--basic')} {
	&:not(.gallery &) {
		&:not(:first-child):not(:last-child) {
			margin-block: var(--spacing-md);
		}
	}

	&[data-align="left"] {
		float: left;
		margin-right: var(--spacing-md);
	}

	&[data-align="right"] {
		float: right;
		margin-left: var(--spacing-md);
	}

	&[data-align="center"] {
		width: auto;
		margin: 0 auto;
		display: block;
	}

	img {
		display: block;
		max-width: 100%;
	}

	&[data-style="rounded"] img {
		border-radius: 100%;
	}

	&[data-style="polaroid"] img {
		border: 0.75rem solid white;
		box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
	}

	&[data-behaviour="cover"] {
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center center;
		}
	}

	&[data-behaviour="contain"] {
		img {
			width: 100%;
			height: auto;
			object-fit: contain;
		}
	}
}

figure#{class-ends-with('__image')} {
	&:has(figcaption) {
		gap: var(--spacing-sm);
		align-items: center;

		&[data-orientation="vertical"] {
			text-align: center;
		}
	}
}
