@use '../bem-class-selectors' as *;

// See common.scss for base .image styles
.image--basic,
#{class-contains('image--basic')} {
	&:not(.gallery &) {
		&:not(:first-child):not(:last-child) {
			margin-block: var(--spacing-md);
		}
	}

	&[data-align="left"] {
		float: left;
		margin-right: var(--spacing-md);
	}

	&[data-align="right"] {
		float: right;
		margin-left: var(--spacing-md);
	}

	&[data-align="center"] {
		width: auto;
		margin: 0 auto;
		display: block;
	}

	img {
		display: block;
		max-width: 100%;
	}

	&.is-style-rounded {
		img {
			border-radius: 100%;
		}
	}

	&[data-behaviour="cover"] {
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center center;
		}
	}

	&[data-behaviour="contain"] {
		img {
			width: 100%;
			height: auto;
			object-fit: contain;
		}
	}
}
