.image {

	&:not(.gallery &) {
		&:not(:first-child):not(:last-child) {
			margin-block: var(--spacing-md);
		}
	}

	img {
		display: block;
		max-width: 100%;
	}

	// See packages/core/src/base/types/AspectRatio for what these should be
	&[data-aspect-ratio="square"],
	> [data-aspect-ratio="square"] {
		aspect-ratio: 1/1;
	}

	&[data-aspect-ratio="standard"],
	> [data-aspect-ratio="standard"] {
		aspect-ratio: 4/3;
	}

	&[data-aspect-ratio="portrait"],
	> [data-aspect-ratio="portrait"] {
		aspect-ratio: 3/4;
	}

	&[data-aspect-ratio="16-9"],
	> [data-aspect-ratio="16-9"] {
		aspect-ratio: 16/9;
	}

	&[data-aspect-ratio="classic"],
	> [data-aspect-ratio="classic"] {
		aspect-ratio: 3/2;
	}

	&[data-aspect-ratio="classic_portrait"],
	> [data-aspect-ratio="classic_portrait"] {
		aspect-ratio: 2/3;
	}

	&[data-behaviour="cover"],
	> [data-behaviour="cover"] {
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center center;
		}
	}

	&[data-behaviour="contain"],
	> [data-behaviour="contain"] {
		img {
			width: 100%;
			height: auto;
			object-fit: contain;
		}
	}

	&[data-align="left"] {
		float: left;
		margin-right: var(--spacing-md);
	}

	&[data-align="right"] {
		float: right;
		margin-left: var(--spacing-md);
	}

	&[data-align="center"] {
		img {
			width: auto;
			margin: 0 auto;
			display: block;
		}
	}

	&.is-style-rounded {
		img {
			border-radius: 100%;
		}
	}
}
