@use '../mixins' as *;

.site-footer {
	padding-block: var(--spacing-lg);

	@include container-width-up('narrow') {
		padding-block: var(--spacing-xl);
	}

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: var(--spacing-md);
	}

	a {
		color: inherit;
	}

	&__menu {

		&__list {
			display: block;

			&__item {
				display: block;
				margin-block-end: var(--spacing-sm);
			}
		}
	}

	&__icon-links {
	}
}
