@use '../mixins' as *;

.site-footer {
	padding-block: var(--spacing-lg);

	@include container-width-up('narrow') {
		padding-block: var(--spacing-xl);
	}

	a {
		color: inherit;
	}

	&__menu {

		&-list {
			display: block;

			&__item {
				display: block;
				margin-block-end: var(--spacing-sm);
			}

			.menu-list {
				margin-inline-start: 0;
			}
		}
	}
}
