@use '../variables' as *;

.accordion {

	&__panel {
		display: contents; // allows open attribute to be ignored and contents to animate up and down using Bootstrap Collapse

		&__title {
			cursor: pointer;
			transition: all 0.2s linear;
			padding: var(--spacing-sm);
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-block-start: var(--spacing-xxs);

			@each $name, $value in $colors {
				[data-color-theme="#{$name}"] & {
					background: color-mix(in srgb, var(--color-#{$name}) 10%, white);

					&:hover, &:focus, &:active {
						background: var(--color-#{$name});
						color: var(--readable-color-#{$name});
					}
				}
			}

			&::marker {
				display: none;
				visibility: hidden;
				font-size: 0
			}

			i, svg {
				transition: all 0.2s linear;
				transform-origin: center center;

				[open] & {
					transform: rotate(45deg);
				}
			}
		}

		&__content {
			transition: height 0.3s ease-in-out;

			> :first-child {
				padding-block-start: var(--spacing-md);
			}

			> :last-child {
				padding-block-end: var(--spacing-md);
			}
		}
	}
}
