@use '../mixins' as *;

.group {

	&:not(:has(.container)) {
		display: grid;
		gap: var(--spacing-md);
	}

	&--breakout {
		width: max-content;

		.container & {
			max-width: var(--width-contained);
		}

		[data-size="fullwidth"] & {
			max-width: 100vw;
		}

		[data-size="wide"] & {
			max-width: var(--width-wide);
		}

		[data-size="narrow"] & {
			max-width: var(--width-narrow);
		}
	}
}
