@use '../mixins' as *;
@use '../variables' as *;

.banner {
	width: 100%;
	position: relative;
	overflow: hidden;
	padding: 0;
	container-type: inline-size;

	&[data-background] {
		background-color: var(--background-color);

		&:after {
			content: '';
			position: absolute;
			inset: 0 0 0 0;
			z-index: 1;
			opacity: var(--overlay-opacity, 1);
		}
	}

	&__cover-image {
		position: relative;
		width: 100%;
		height: 100dvh;
		min-height: 40rem;
		max-height: 100dvh;
		container-type: size;
		backdrop-filter: blur(1rem); // when the viewport is large enough that the inner content hits its max-width, blur the container's background

		@include container-width-up('small') {
			height: 75dvh;
		}

		@include container-width-up('narrow') {
			height: fit-content;
		}

		&__image {
			max-width: 120rem;
			margin-inline: auto;

			@container (min-width: 120rem) {
				@include blur-inline-edges();
			}
		}
	}

	&__container {
		position: absolute;
		inset: 0 0 0 0;
		z-index: 100;
		display: flex;

		@include container-width-down('narrower') {
			justify-content: center !important;
		}
	}

	&__content {
		position: relative;
		z-index: 200;
		padding: var(--spacing-lg);
		text-align: center;
		justify-content: center;

		.button-group {
			@include container-width-down('small') {
				justify-content: center;
			}
		}

		@include container-width-up('small') {
			text-align: revert;
		}

		@include container-width-up('narrow') {
			padding: var(--spacing-xl);
		}

		@include container-width-down('narrower') {
			max-width: 75cqw !important;
		}
	}
}
