@use '../mixins' as *;
@use '../variables' as *;

.banner {
	width: 100%;
	position: relative;
	overflow: hidden;
	padding: 0;
	container-type: inline-size;

	&[data-background] {
		background-color: transparent;

		&:after {
			content: '';
			position: absolute;
			inset: 0 0 0 0;
			z-index: 1;
			opacity: var(--overlay-opacity, 1);
		}

		@each $colorName, $value in $colors {
			&[data-background="#{$colorName}"] {
				&:after {
					background-color: var(--color-#{$colorName});
				}
			}
		}
	}

	&__cover-image {
		position: relative;
		height: 100%;
		width: 100%;
		max-height: 100dvh;

		@include container-width-down('narrow') {
			height: 75dvh;
		}

		@include container-width-down('small') {
			height: 100dvh;
		}
	}

	&__container {
		position: absolute;
		inset: 0 0 0 0;
		z-index: 100;
		display: flex;
	}

	&__content {
		position: relative;
		z-index: 200;
		padding: var(--spacing-lg);
		text-align: center;
		justify-content: center;

		.button-group {
			justify-content: center;
		}

		@include container-width-up('small') {
			text-align: revert;
			justify-content: initial;

			.button-group {
				justify-content: initial;
			}
		}

		@include container-width-up('narrow') {
			padding: var(--spacing-xl);
		}

		@include container-width-down('narrow') {
			max-width: 100% !important;
		}
	}
}
